
@{
    ViewBag.Title = "NEWS::Annual General Meeting of Shareholders 2011";
    ViewBag.BodyClass = "News";
    ViewBag.Target = "Annual General Meeting of Shareholders 2011";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/News">NEWS</a></li>
}

<nav id="sidebar" class="tag">
    <a href="~/News">ALL</a>
    <a href="~/News">EXHIBITION</a>
    <a href="~/News" class="current">BUSINESSES</a>
</nav>

<div id="content">

    <article class="panel">
        <header>Annual General Meeting of Shareholders 2011</header>
        <div>
            @* 此為編輯器 *@
            A conference call with Frans van Houten, CEO and Ron Wirahadiraksa, CFO, to discuss the results, will start at 10:00AM CET. A live audio webcast of the conference call will be available through the link below
        </div>
        <footer>2016.1.28</footer>
    </article>

    <div class="text-center">
        <a href="~/News" class="btn btn-small">BACK</a>
    </div>

</div><!-- content //-->