
@{
    ViewBag.Title = "お問い合わせ";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.Target = "お問い合わせ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/googleReCAPTCHA.js"></script>
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/Content/js/map.js"></script>
    <script src="~/Scripts/src/tsx/w-contactus_email.js?v=@CommWebSetup.CacheVer"></script>
}

<form action="" class="contacts" id="ContactUsInfo">
    <h3 class="font-sp">お問い合わせへようこそ</h3>

    <input type="text" id="m_title" placeholder="タイトル" required>

    <input type="text" id="m_name" placeholder="名前" required>

    <input type="text" id="m_company" placeholder="会社">

    <input type="tel" id="m_tel" placeholder="電話番号" required>

    <input type="tel" id="m_fax" placeholder="ファックス">

    <input type="email" id="m_email" placeholder="メール" required>

    <textarea rows="8" id="m_content" placeholder="この中で記入してください"></textarea>

    <div id="Validate"></div>

    <button class="btn btn-small">送る</button>
</form>
<div id="map-canvas"></div>