@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$img-path:              '../images' !default;
$font-path:             '../font' !default;
$lte7:                  false !default;           // 是否兼容IE6-7
$states:                false !default;           // 情境文字是否輸出


// == color
// ----------------------------------------------------------------------
// 語義色
$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%);   // #222
$gray-dark:             lighten($gray-base, 20%);     // #333
$gray:                  lighten($gray-base, 33.5%);   // #555
$gray-light:            lighten($gray-base, 46.7%);   // #777
$gray-lighter:          lighten($gray-base, 93.5%);   // #eee

// 抽象色
$brand-primary:         #F15A24;             // 主色
$brand-secondary:       #C1761E;             // 輔色
$success:               #95c63f !default;             // 綠
$info:                  #0180CC !default;             // 藍
$warning:               #FABE01 !default;             // 黃
$error:                 #E60112 !default;             // 紅


// == basic
// ----------------------------------------------------------------------
// <body> 背景 & 文字色
$body-bg:               #fff !default;
$text-color:            #000 !default;

$link-color:            $brand-primary;             // 文字鏈結色
$link-hover-color:      darken($link-color, 5%) !default;     // 滑鼠移過色

// layout
// $min-width:             1008px !default;     // 網頁最小尺寸
// $max-width:             1400px !default;     // 網頁最寬尺寸: .wrap
$pages:                 'AboutUs' 'News' 'Products' 'QA' 'ContactUs' 'History';

// gird
$cols:                  12 !default;
$gutter:                15px !default;


// == font
// ----------------------------------------------------------------------
// 微軟正黑體
$font-family-base:      'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-slogan:    "cwTeXHei", $font-family-base !default;

$font-size-base:        16px !default;
$font-size-lg:          $font-size-base * 1.25 !default;     // 20px
$font-size-sm:          $font-size-base * 0.85 !default;     // 13px

$line-height-base:      1.25 !default;                       // 20px/16px
$line-height-lg:        1.33 !default;
$line-height-sm:        1.5 !default;
$line-height-computed:  $font-size-base * $line-height-base; // 20px 用在 margin, padding, etc.

$font-size-h1:          $font-size-base * 2.25 !default;
$font-size-h2:          $font-size-base * 1.875 !default;
$font-size-h3:          $font-size-base * 1.5 !default;
$font-size-h4:          $font-size-base * 1.125 !default;
$font-size-h5:          $font-size-base !default;
$font-size-h6:          $font-size-base * 0.875 !default;

$heading-font-family:   inherit !default;
$heading-font-weight:   500 !default;
$heading-line-height:   1.1 !default;

$heading-color:         #0E303F !default;
$heading-small-color:   desaturate($brand-primary, 20%) !default;


// == Components
// ----------------------------------------------------------------------
// 表單元素(停用)上的滑鼠樣式
$cursor-disabled:           not-allowed;

// text bg
$common-active:             #fff $brand-primary;
$caret-width:               4px 5px;

// base large small
$padding-vertical:          2px 5px 1px;
$padding-horizontal:        4px 10px 3px;
$border-radius:             5px 15px 3px;

// 配色- 三值分別為: 本文色 背景色 邊框色
// 情境狀態 + 配色
$state-type: (
    primary:                $brand-primary,
    muted:                  $gray-light,
    success:                $success,
    info:                   $info,
    warn:                   $warning,
    error:                  $error
);

$table-color: (
    table-bg:               transparent,
    table-bg-accent:        #f9f9f9,
    table-bg-hover:         lighten($warning,40%),
    table-bg-active:        #D6E9C2,
    table-border:           $gray-lighter,
    table-th:               $text-color,
    table-td:               $text-color,
    table-caption:          #989898,

    input-bg:               #fff,
    input-bg-disabled:      $gray-lighter,
    input-color:            $gray,
    input-border:           #ccc,
    input-border-focus:     $warning,
    input-placeholder:      #999,
    input-addon-bg:         $gray-lighter,
    input-addon-border:     #ccc
);

// $table-color: (
//     table-bg:               transparent,
//     table-bg-accent:        #f9f9f9,
//     table-bg-hover:         #D6E9C2,
//     table-bg-active:        #D6E9C2,
//     table-border:           lighten($brand-secondary,10%),
//     table-th:               $text-color,
//     table-td:               #254202,
//     table-caption:          #989898
// );
// $input-color: (
//     input-bg:               #fff,
//     input-bg-disabled:      $gray-lighter,
//     input-color:            $gray,
//     input-border:           #ccc,
//     input-border-focus:     #66afe9,
//     input-placeholder:      #999,
//     input-addon-bg:         $gray-lighter,
//     input-addon-border:     #ccc
// );

// 合併配色
$color: map-merge($state-type, $table-color);



// == media RWD
// ----------------------------------------------------------------------

// 中斷點
$breakpoints: (
    xxs: 480px,   // Extra small screen / phone
    xs:  544px,   // Extra small screen / phone
    sm:  768px,   // Small screen / phone
    md:  992px,   // Medium screen / tablet / desktop
    lg:  1040px,   // Medium screen / tablet / desktop
    xl:  1440px   // Extra large screen / wide desktop
);

// 容器寬度
$wrap-widths: (
    xxs: 320px,
    xs:  480px,
    sm:  720px,
    md:  960px,
    lg:  1008px,
    xl:  1400px
);

// media queries
$medias: (
    xxs:      (max-width: break(xs)-1),

    xs:       (max-width: break(sm)-1),
    xs-min:   (min-width: break(xs)),

    sm:       (max-width: break(md)-1),
    sm-min:   (min-width: break(sm)),

    md:       (max-width: break(lg)-1),
    md-min:   (min-width: break(md)),

    lg:       (max-width: break(xl)-1),
    lg-min:   (min-width: break(lg)),

    xl-min:   (min-width: break(xl))
);


// == z-index
// ----------------------------------------------------------------------
$z-index: (
    header:     2,
    main:       1,
    footer:     3,
    banner:     1,
    logo:       50,
    menu:       60,
    goTop:      70,
    dropdown:   80,
    tooltip:    90,
    modal:      1000,
    overlay:    1001
);