@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #656565;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif;
  line-height: 1.25; }

a {
  color: #656565;
  text-decoration: none; }
  a:hover, a:active, a.active {
    color: #79B229; }
  a:focus {
    outline: thin dotted;
    outline: 1px auto #79B229;
    outline-offset: -2px; }

img {
  vertical-align: middle; }
  @media (max-width: 47.9375em) {
    img {
      width: 100%; } }

@font-face {
  font-family: 'trebuc';
  src: local("Trebuchet MS"), url(../font/trebucit.ttf) format("truetype"); }
.font-sp {
  font-family: "trebuc", "明暸體", "Meiryo", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: trebuc, 明暸體, Meiryo, sans-serifMicrosoft Jhenghei, \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #79B229; }
  h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #759c3f; }

h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em; }
  h2 small, h3 small {
    font-size: 65%; }

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }
  h4 small, h5 small, h6 small {
    font-size: 75%; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

small {
  font-size: 85%; }

mark {
  background-color: #fceccc;
  padding: .2em; }

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9; }

.clearfix::after, .wrap::after, #main::after, #footer::after {
  content: '';
  display: table;
  clear: both; }

.circle, .club a, .new-product::after {
  border-radius: 50%; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.6%; }

#header h1, .menu-trigger, #footer .contact em, .club a, .goTop, .quick-nav a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.list-inline, .list-unstyled, .text-list, .swiper-wrapper {
  list-style: none; }

.list-inline > li {
  display: inline-block; }

a, body, #menu, .hover-shadow, .hover-shadow header {
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

#wrapper::before, .menu-trigger span::before, .menu-trigger span::after, .hover-underline::before, .dropbtn::after, .new-product::before, .new-product::after, .quick-nav a::after {
  content: '';
  display: block; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-list {
  line-height: 1.23; }
  .text-list li {
    position: relative;
    margin-bottom: 12px;
    padding-left: 18px; }
    .text-list li::before {
      content: '';
      background: #D8DF2B;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 8px;
      left: 0; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #main, #header {
  max-width: 1400px;
  margin: 0 20px; }
  @media (min-width: 87.5em) {
    .wrap, #main, #header {
      margin: 0 auto; } }

@media (max-width: 48em) {
  .wrap, #main, #footer {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0; } }

#wrapper, #header, #footer, #main, .wrap {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 298px; }
  #wrapper::before {
    position: absolute;
    width: 100%;
    height: 110px;
    background: #79B229;
    box-shadow: 0 3px 0 #E1E2D7; }
    @media (max-width: 61.1875em) {
      #wrapper::before {
        height: 62px; } }
  @media (max-width: 30em) {
    #wrapper {
      padding-bottom: 386px; } }

#header {
  z-index: 3;
  height: 110px; }
  @media (max-width: 61.1875em) {
    #header {
      height: 62px; } }
  @media (max-width: 48em) {
    #header {
      margin: 0 15px; } }
  #header h1 {
    cursor: pointer;
    cursor: hand;
    z-index: 50;
    background: url(../images/logo.gif) 0 0 no-repeat;
    width: 179px;
    height: 83px;
    position: absolute;
    top: 15px;
    left: 0; }
    @media (max-width: 61.1875em) {
      #header h1 {
        left: 50%;
        margin-left: -89.5px;
        background-size: contain;
        width: 120px;
        top: 1.5%; } }
    @media (max-width: 29.9375em) {
      #header h1 {
        right: -10px;
        left: auto;
        margin-left: 0; } }

.menu-trigger {
  display: none;
  cursor: pointer;
  position: relative;
  left: -5px;
  top: 6px;
  overflow: hidden;
  width: 62px;
  height: 50px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-apperance: none;
  -moz-apperance: none;
  apperance: none; }
  @media (max-width: 61.1875em) {
    .menu-trigger {
      display: block; } }
  @media (max-width: 29.9375em) {
    .menu-trigger {
      top: 6px; } }
  .menu-trigger:active, .menu-trigger.active {
    background-color: #5d891f; }
    .menu-trigger:active span, .menu-trigger.active span {
      background: none; }
      .menu-trigger:active span::before, .menu-trigger.active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .menu-trigger:active span::after, .menu-trigger.active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .menu-trigger:active span::before, .menu-trigger:active span::after, .menu-trigger.active span::before, .menu-trigger.active span::after {
        -webkit-transition-delay: 0, .3s;
        transition-delay: 0, .3s; }
  .menu-trigger span {
    position: absolute;
    top: 23px;
    right: 10px;
    left: 10px;
    display: block;
    background: #C2E57E;
    height: 4px;
    margin: auto;
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
    .menu-trigger span::before, .menu-trigger span::after {
      width: 100%;
      height: 4px;
      background-color: #C2E57E;
      position: absolute;
      left: 0;
      -webkit-transition-duration: .3s, .3s;
      transition-duration: .3s, .3s;
      -webkit-transition-delay: .3s, 0;
      transition-delay: .3s, 0; }
    .menu-trigger span::before {
      top: -13px;
      -webkit-transition-property: top, transform;
      transition-property: top, transform; }
    .menu-trigger span::after {
      bottom: -13px;
      -webkit-transition-property: bottom, transform;
      transition-property: bottom, transform; }

body {
  position: relative;
  overflow-x: hidden;
  left: 0; }

.push {
  left: 250px;
  overflow-y: hidden; }
  .push .md-overlay {
    opacity: 1;
    visibility: visible;
    left: 250px; }

#menu {
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transition: none;
  transition: none; }
  #menu a {
    display: inline-block;
    padding: 0 40px 0 17px;
    border-left: 3px solid #D8DF2B;
    color: #fff;
    font-size: 1.125em;
    font-family: "trebuc", "明暸體", "Meiryo", sans-serif;
    letter-spacing: 2px;
    line-height: 1.1;
    -webkit-transition: background .5s, padding-bottom .35s;
    transition: background .5s, padding-bottom .35s; }
    #menu a:hover, #menu a:active, .Products #menu a:nth-of-type(1), .AboutUs #menu a:nth-of-type(2), .Support #menu a:nth-of-type(3), .News #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
      background: url(../images/menuBg.gif) right 0 no-repeat;
      padding-bottom: 30px; }
  @media (max-width: 61.1875em) {
    #menu {
      background: #333;
      width: 250px;
      height: 100%;
      overflow-y: auto;
      z-index: 1000;
      position: fixed;
      top: 0;
      left: -250px; }
      #menu .toggle {
        display: block;
        cursor: pointer;
        cursor: hand;
        background: #79B229 url(../images/icon.png) no-repeat right 6px;
        color: #fff;
        font-size: 1.25em;
        letter-spacing: 0.1em;
        padding: 20px 0; }
      .push #menu {
        left: 0; }
      #menu a {
        border-bottom: 1px solid #454545;
        color: #fff;
        font-size: 1.125em;
        font-weight: normal;
        text-align: left;
        width: 100%;
        padding: 15px; }
        #menu a:hover, #menu a:active, .Products #menu a:nth-of-type(1), .AboutUs #menu a:nth-of-type(2), .Support #menu a:nth-of-type(3), .News #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
          background: #79B229;
          padding: 25px 15px; } }

#footer {
  z-index: 1;
  background: #ECECEC;
  color: #808080;
  min-height: 248px;
  margin-top: -248px;
  padding: 43px 0;
  text-align: left; }
  @media (max-width: 30em) {
    #footer {
      margin-top: -366px; } }
  #footer .contact {
    border: 1px solid #fff;
    padding: 20px 30px;
    margin-right: 3%; }
    @media (max-width: 48em) {
      #footer .contact {
        margin-right: 0; } }
    @media (max-width: 29.9375em) {
      #footer .contact {
        padding: 12px; } }
    #footer .contact em {
      background-attachment: fixed;
      background: url(../images/icon-contact.gif) 0 0 no-repeat;
      width: 24px;
      height: 21px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px; }
    #footer .contact a {
      color: #808080; }
    #footer .contact .col-5 {
      color: #545454;
      font-size: 1.875em;
      line-height: 1.85; }
      @media (max-width: 29.9375em) {
        #footer .contact .col-5 {
          font-size: 1.4375em; } }
      #footer .contact .col-5 li:nth-of-type(2) em {
        background-position: 0 -54px; }
    #footer .contact .col-7 {
      font-size: 0.8125em;
      line-height: 1.75; }
      #footer .contact .col-7 li {
        margin: 10px 0; }

.copyright {
  color: #B5B5B5;
  font-size: 0.875em;
  position: absolute;
  right: 15px;
  bottom: 20px; }
  @media (max-width: 48em) {
    .copyright {
      left: 15px;
      bottom: -30px;
      text-align: center; } }

.club a {
  background-attachment: fixed;
  background: url(../images/icon-club.gif) 14px center no-repeat;
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #79B229;
  margin: 25px 18px 20px 0; }
  .club a:nth-child(2) {
    background-position: -62px center; }
  .club a:nth-child(3) {
    background-position: -138px center; }
  .club a:hover, .club a:active {
    background-color: #6cb457;
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }

.goTop {
  display: none;
  z-index: 1001;
  opacity: .65;
  transition: all .5s ease;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: url(../images/goTop.png) 0 0 no-repeat;
  width: 42px;
  height: 23px; }
  .goTop:hover, .goTop:active {
    opacity: 1; }

.hover-underline {
  color: #808080;
  position: relative; }
  .hover-underline::before {
    height: 1px;
    width: 100%;
    background: #808080;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out; }
  .hover-underline:hover::before, .hover-underline:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.hover-shadow a {
  z-index: 91;
  white-space: nowrap;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
.hover-shadow:hover, .hover-shadow:active {
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.2); }
  .hover-shadow:hover header, .hover-shadow:active header {
    color: #79B229; }

.dropbtn {
  cursor: pointer;
  transition: all .5s ease;
  background: #72a827;
  border: 1px solid #93C336;
  color: #C2E57E;
  font-size: 0.75em;
  text-align: left;
  padding: 5px 10px;
  width: 100%; }
  .dropbtn::after {
    width: 0;
    height: 0;
    display: inline-block;
    border: 5px solid transparent;
    border-top: 7px solid #93C336;
    border-bottom-width: 7px;
    position: absolute;
    top: 10px;
    right: 8px; }
  .dropbtn:hover, .dropbtn:active {
    border-color: #9fcc47;
    color: #e0f2be; }
    .dropbtn:hover::after, .dropbtn:active::after {
      border-top-color: #b3d76f;
      -webkit-animation: jump 0.6s infinite 0.6s;
      animation: jump 0.6s infinite 0.6s; }

@-webkit-keyframes jump {
  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); } }
@keyframes jump {
  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px); } }
.dropdown {
  z-index: 49;
  width: 180px;
  position: absolute;
  top: 13px;
  right: 0; }
  @media (max-width: 39.9375em) {
    .dropdown {
      width: 28%; } }
  @media (max-width: 29.9375em) {
    .dropdown {
      left: 65px;
      top: 15%;
      width: 35%; } }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content a {
    color: #333;
    padding: 8px 0;
    display: block; }
    .dropdown-content a:hover {
      background-color: #f1f1f1; }

#banner {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  margin: 2% 20px; }
  @media (min-width: 87.5em) {
    #banner {
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 48em) {
    #banner {
      margin: 3.5% 15px; } }

.swiper-wrapper {
  margin-bottom: 0; }

.swiper-slide {
  text-align: center; }
  .swiper-slide img {
    width: 100%; }

.new-product img, .quick-nav img {
  width: 100%; }

.new-product {
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  width: 45%; }
  @media (max-width: 40em) {
    .new-product {
      margin-bottom: 2%;
      height: 180px; }
      .new-product img {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1; } }
  @media (max-width: 30em) {
    .new-product {
      height: 110px; } }
  @media (max-width: 20em) {
    .new-product {
      height: 90px; } }
  .new-product::before, .new-product::after {
    position: absolute; }
  .new-product::before {
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .new-product::after {
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-transition: background .5s, transform 1s;
    transition: background .5s, transform 1s;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    background-position: center; }
  .new-product:hover::before, .new-product:active::before {
    background: rgba(0, 0, 0, 0.5); }
  .new-product:hover::after, .new-product:active::after {
    background: rgba(255, 255, 255, 0.5) url(../images/icon-look.png) center no-repeat;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

.quick-nav {
  float: right;
  width: 55%; }
  .quick-nav a {
    display: block;
    float: left;
    position: relative;
    box-shadow: 1px 1px 0 #CBCBCB;
    width: 48.5%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s; }
    .quick-nav a::after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: box-shadow 1s;
      transition: box-shadow 1s; }
    .quick-nav a:hover, .quick-nav a:active {
      -webkit-transform: translate(1px, 2px);
      transform: translate(1px, 2px); }
      .quick-nav a:hover::after, .quick-nav a:active::after {
        box-shadow: 6px 10px 15px rgba(0, 0, 0, 0.2) inset; }
    @media (max-width: 40em) {
      .quick-nav a {
        width: 49.2%; }
        .quick-nav a:nth-child(odd) {
          margin-left: 0; } }

@media (max-width: 40em) {
  .new-product, .quick-nav {
    float: none;
    width: 100%; } }
