html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

button {
  outline: none;
  border: none; }

*, *::before, *::after {
  box-sizing: border-box; }

html, body {
  text-align: center;
  height: 100%; }

body {
  background: #fff;
  color: #191919;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif;
  line-height: 1.25; }

a {
  color: #191919;
  text-decoration: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  a:hover, a:active, a.active {
    color: #79B229; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

img {
  vertical-align: middle; }

@font-face {
  font-family: 'trebuc';
  src: local("Trebuchet MS"), url(../font/trebucit.ttf) format("truetype"); }
h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
  color: #79B229; }
  h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #759c3f; }

h2, h3 {
  margin-top: 1.25em;
  margin-bottom: 0.625em; }
  h2 small, h3 small {
    font-size: 65%; }

h4, h5, h6 {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }
  h4 small, h5 small, h6 small {
    font-size: 75%; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.875em; }

p {
  margin: 0 0 0.625em;
  line-height: 1.5; }

small {
  font-size: 85%; }

mark {
  background-color: #fceccc;
  padding: .2em; }

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25; }

/*      table
-----------------------------------------------------------------------*/
th, td {
  border: 1px solid #eff8e2;
  color: #191919;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle; }

th {
  background: #79B229;
  padding: 10px;
  color: #fff;
  font-size: 1.1875em;
  font-weight: bold; }

td {
  padding: 3px 5px; }

caption {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #6b9d24;
  font-size: 1.375em;
  line-height: 1.5;
  text-align: center; }

.fixed {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all; }

legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: inherit;
  border-bottom: 1px solid; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }
  label[class*="col-"] {
    margin-bottom: 0; }

input[type="radio"], input[type="checkbox"] {
  margin-top: 4px;
  margin-top: 1px \9;
  line-height: normal; }

input[type="search"] {
  box-sizing: border-box; }

input[type="file"], input[type="range"] {
  display: block; }

input[type="range"] {
  width: 100%; }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

select[multiple], select[size] {
  height: auto; }

button {
  background: none;
  border: none; }

output {
  display: block;
  padding-top: 3px;
  font-size: 1em;
  line-height: 1.25;
  color: #555555; }

.form-element, input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  display: block;
  width: 100%;
  padding: 2px 10px;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .form-element::-moz-placeholder, input:not([type])::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, textarea::-moz-placeholder, .form-element:-ms-input-placeholder, input:-ms-input-placeholder:not([type]), input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-ms-input-placeholder, .form-element::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999; }
  .form-element::-moz-placeholder, input:not([type])::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1; }
  .form-element:focus, input:focus:not([type]), input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-element[disabled], input[disabled]:not([type]), input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="email"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="tel"], input[disabled][type="time"], input[disabled][type="url"], input[disabled][type="color"], textarea[disabled], .form-element[readonly], input[readonly]:not([type]), input[readonly][type="text"], input[readonly][type="password"], input[readonly][type="date"], input[readonly][type="datetime"], input[readonly][type="datetime-local"], input[readonly][type="month"], input[readonly][type="week"], input[readonly][type="email"], input[readonly][type="number"], input[readonly][type="search"], input[readonly][type="tel"], input[readonly][type="time"], input[readonly][type="url"], input[readonly][type="color"], textarea[readonly], fieldset[disabled] .form-element, fieldset[disabled] input:not([type]), fieldset[disabled] input[type="text"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="week"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="color"], fieldset[disabled] textarea {
    background-color: #eeeeee;
    opacity: 1; }
  .form-element[disabled], input[disabled]:not([type]), input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="email"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="tel"], input[disabled][type="time"], input[disabled][type="url"], input[disabled][type="color"], textarea[disabled], fieldset[disabled] .form-element, fieldset[disabled] input:not([type]), fieldset[disabled] input[type="text"], fieldset[disabled] input[type="password"], fieldset[disabled] input[type="date"], fieldset[disabled] input[type="datetime"], fieldset[disabled] input[type="datetime-local"], fieldset[disabled] input[type="month"], fieldset[disabled] input[type="week"], fieldset[disabled] input[type="email"], fieldset[disabled] input[type="number"], fieldset[disabled] input[type="search"], fieldset[disabled] input[type="tel"], fieldset[disabled] input[type="time"], fieldset[disabled] input[type="url"], fieldset[disabled] input[type="color"], fieldset[disabled] textarea {
    cursor: not-allowed; }

.form-element-inline {
  margin-left: 7.5px;
  font-weight: normal; }
  .form-element-inline:first-child {
    margin-left: 0; }
  @media (min-width: 30em) {
    .form-element-inline {
      display: block;
      margin-left: 0; } }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
  height: 37px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 24px; }
    input[type="date"].input-sm, .input-group-sm input[type="date"], input[type="time"].input-sm, .input-group-sm input[type="time"], input[type="datetime-local"].input-sm, .input-group-sm input[type="datetime-local"], input[type="month"].input-sm, .input-group-sm input[type="month"] {
      line-height: 22px; }
    input[type="date"].input-lg, .input-group-lg input[type="date"], input[type="time"].input-lg, .input-group-lg input[type="time"], input[type="datetime-local"].input-lg, .input-group-lg input[type="datetime-local"], input[type="month"].input-lg, .input-group-lg input[type="month"] {
      line-height: 37px; } }
*[disabled], .disabled {
  cursor: not-allowed; }

.clearfix::after, .wrap::after, #main::after, #header::after, #footer::after {
  content: '';
  display: table;
  clear: both; }

.full {
  width: 100%;
  max-width: 100%; }

.half {
  width: 49.6%; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.circle, .club a, .News .text-list dt::after, .FAQ .text-list dt::before, .FAQ .text-list dd::before {
  border-radius: 50%; }

.list-inline, .breadcrumb, .tabs, .list-unstyled {
  list-style: none; }

.list-inline > li, .breadcrumb > li, .tabs > li {
  display: inline-block; }

figure::before, .pro-pic::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

#header h1, #footer .contact em, .club a, .goTop {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.float-l {
  float: left; }

.float-r {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #main, #header, main {
  max-width: 1400px;
  margin: 0 20px; }
  @media (min-width: 87.5em) {
    .wrap, #main, #header, main {
      margin: 0 auto; } }
  @media (max-width: 48em) {
    .wrap, #main, #header, main {
      margin: 0 auto; } }

@media (max-width: 48em) {
  .wrap, #main, #header, #footer {
    padding-left: 15px;
    padding-right: 15px; } }

#wrapper, #header, #footer, #main, .wrap {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 298px; }
  #wrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 110px;
    background: #79B229;
    box-shadow: 0 3px 0 #E1E2D7; }
  @media (max-width: 30em) {
    #wrapper {
      padding-bottom: 150px; } }

#header {
  z-index: 1;
  height: 110px; }
  #header h1 {
    cursor: pointer;
    cursor: hand;
    z-index: 50;
    background: url(../images/logo.gif) 0 0 no-repeat;
    width: 179px;
    height: 83px;
    position: absolute;
    top: 15px;
    left: 0; }

body, #menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.menu-trigger {
  display: none;
  background-attachment: fixed;
  background: url(../images/icon.png) no-repeat 0 -59px;
  color: #559543;
  font-size: 1.1875em;
  font-weight: bold;
  padding-left: 25px;
  margin-left: -7px;
  z-index: 1002;
  position: absolute;
  top: 5px;
  left: 0; }
  .menu-trigger:hover {
    color: #79B229; }
  @media (max-width: 59.9375em) {
    .menu-trigger {
      display: block; } }

body {
  position: relative;
  overflow-x: hidden;
  left: 0; }

.push {
  left: 250px;
  overflow-y: hidden; }
  .push .md-overlay {
    opacity: 1;
    visibility: visible;
    left: 250px; }

#menu {
  position: absolute;
  top: 60px;
  right: 0; }
  #menu a {
    position: relative;
    display: inline-block;
    border-left: 3px solid #D8DF2B;
    color: #fff;
    font-size: 1.125em;
    font-family: "trebuc";
    letter-spacing: 2px;
    line-height: 19px;
    padding: 0 70px 0 17px;
    margin-left: 1px; }
    #menu a:hover, #menu a:active, .Products #menu a:nth-of-type(1), .AboutUs #menu a:nth-of-type(2), .Support #menu a:nth-of-type(3), .News #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
      background: url(../images/menuBg.gif) right 0 no-repeat;
      padding-bottom: 31px; }

#footer {
  z-index: 2;
  background: #ECECEC;
  color: #808080;
  min-height: 248px;
  margin-top: -248px;
  padding: 43px 0;
  text-align: left; }
  #footer .contact {
    border: 1px solid #fff;
    padding: 20px 30px;
    margin-right: 3%; }
    #footer .contact em {
      background-attachment: fixed;
      background: url(../images/icon-contact.gif) 0 0 no-repeat;
      width: 24px;
      height: 21px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px; }
    #footer .contact a {
      color: #808080;
      position: relative; }
      #footer .contact a::before {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        background: #808080;
        position: absolute;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        -o-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition: transform 0.35s ease-out;
        transition: transform 0.35s ease-out; }
      #footer .contact a:hover::before, #footer .contact a:active::before {
        -webkit-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1); }
    #footer .contact .col-5 {
      color: #545454;
      font-size: 1.875em;
      line-height: 1.85; }
      #footer .contact .col-5 li:nth-of-type(2) em {
        background-position: 0 -54px; }
    #footer .contact .col-7 {
      font-size: 0.8125em;
      line-height: 1.75; }
      #footer .contact .col-7 li {
        margin: 10px 0; }

.copyright {
  color: #B5B5B5;
  font-size: 0.875em;
  position: absolute;
  right: 15px;
  bottom: 20px; }

.club a {
  background-attachment: fixed;
  background: url(../images/icon-club.gif) 14px center no-repeat;
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #79B229;
  margin: 25px 18px 20px 0; }
  .club a:nth-child(2) {
    background-position: -62px center; }
  .club a:nth-child(3) {
    background-position: -138px center; }
  .club a:hover, .club a:active {
    background-color: #6cb457;
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }

.goTop {
  display: none;
  z-index: 70;
  opacity: .65;
  transition: all .5s ease;
  position: fixed;
  right: 10px;
  bottom: 30px;
  background: url(../images/goTop.png) 0 0 no-repeat;
  width: 42px;
  height: 23px; }
  .goTop:hover, .goTop:active {
    opacity: 1; }

.btn, .tabs li {
  display: inline-block;
  padding: 18px 38px;
  min-width: 100px;
  background: #79B229;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9375em;
  font-weight: bold;
  line-height: 1.01;
  transition: all 0.3s; }
  .btn:focus, .tabs li:focus, .btn.focus, .tabs li.focus, .btn:active:focus, .tabs li:active:focus, .btn:active.focus, .tabs li:active.focus, .btn.active:focus, .tabs li.active:focus, .btn.active.focus, .tabs li.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .tabs li:hover, .btn:active, .tabs li:active, .btn.active, .tabs li.active {
    background: #559543;
    border-color: #fff;
    color: #fff; }
  .btn:active, .tabs li:active, .btn.active, .tabs li.active {
    outline: 0; }
  .btn.disabled, .tabs li.disabled, .btn[disabled], .tabs li[disabled], fieldset[disabled] .btn, fieldset[disabled] .tabs li, .tabs fieldset[disabled] li {
    cursor: not-allowed;
    opacity: .65; }

[class*="btn-"] {
  background: #fff; }

.btn-primary {
  color: #79B229;
  border-color: #79B229; }

figure {
  position: relative;
  cursor: pointer;
  margin: 0 0 85px 7px;
  min-width: 310px;
  width: 32%;
  background: #fff;
  text-align: center; }
  figure img {
    position: relative;
    display: block;
    max-width: 95%; }

figcaption {
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  figcaption::before, figcaption::after {
    pointer-events: none; }
  figcaption, figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  figcaption > a {
    z-index: 1000;
    white-space: nowrap;
    font-size: 0;
    opacity: 0; }

figure {
  float: left;
  height: 220px;
  border: 1px solid #EBEBEB; }
  figure img {
    display: inline-block;
    max-height: 200px; }
  @media (max-width: 48em) {
    figure {
      display: inline-block;
      float: none;
      margin-left: 0;
      width: 49.6%;
      min-width: auto; } }
  @media (max-width: 30em) {
    figure {
      width: 100%; } }
  figure figcaption {
    height: 0; }
    figure figcaption, figure figcaption h3 {
      transition: all .5s ease; }
    figure figcaption > a {
      line-height: 220px;
      height: 275px; }
  figure h3 {
    color: #323232;
    font-size: 1.125em;
    margin-top: 10px; }
  figure small {
    color: #656565;
    font-size: 0.88889em;
    display: block;
    margin-top: 8px; }
  figure:hover h3, figure:active h3 {
    color: #79B229; }
  figure:hover small, figure:active small {
    color: #559543; }
  figure:hover figcaption, figure:active figcaption {
    background: rgba(0, 42, 54, 0.7);
    height: 100%; }
    figure:hover figcaption > a, figure:active figcaption > a {
      opacity: 1;
      color: #fff;
      font-size: 1.375em; }

.dropbtn {
  cursor: pointer;
  transition: all .5s ease;
  background: none;
  border: 1px solid #93C336;
  color: #C2E57E;
  font-size: 0.75em;
  text-align: left;
  padding: 5px 10px;
  width: 180px; }
  .dropbtn::after {
    width: 0;
    height: 0;
    content: '';
    display: inline-block;
    border: 5px solid transparent;
    border-top: 7px solid #93C336;
    border-bottom-width: 7px;
    position: absolute;
    top: 10px;
    right: 8px; }
  .dropbtn:hover, .dropbtn:focus {
    border-color: #9fcc47;
    color: #e0f2be; }
    .dropbtn:hover::after, .dropbtn:focus::after {
      border-top-color: #b3d76f; }

.dropdown {
  z-index: 49;
  position: absolute;
  top: 13px;
  right: 0; }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .dropdown-content a {
    color: #333;
    padding: 8px 0;
    display: block; }
    .dropdown-content a:hover {
      background-color: #f1f1f1; }

main {
  text-align: left;
  padding-top: 10px;
  z-index: 3; }

.pro-menu {
  display: none;
  background: #E5E5E5 url(../images/icon_select.gif) right center no-repeat;
  border: 1px solid #fff;
  color: #222222;
  font-size: 1.1875em;
  font-weight: bold;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px; }
  .pro-menu:hover, .pro-menu:active {
    background-color: #d8d8d8; }

.breadcrumb a {
  color: #656565;
  font-size: 0.93333em; }
  .breadcrumb a::after {
    content: '/'; }
  .breadcrumb a:hover, .breadcrumb a:active {
    color: #559543; }
.breadcrumb li {
  float: left;
  color: #79B229;
  font-size: 0.9375em; }
@media (min-width: 48.0625em) and (max-width: 75em) {
  .breadcrumb {
    float: left;
    width: auto;
    margin-left: 95px; } }
@media (max-width: 48em) {
  .breadcrumb {
    text-align: right;
    width: auto;
    position: absolute;
    top: 120px;
    right: 10px; }
    .breadcrumb li {
      display: inline-block;
      float: none; } }

#content {
  position: relative;
  margin-top: 100px; }
  #content > h2 {
    margin-top: 0; }
  @media (max-width: 48em) {
    #content {
      margin-top: 130px;
      width: 100%;
      float: none; }
      .Products #content {
        margin-top: 150px; } }

.AboutUs #content h3 {
  color: #172087; }
.AboutUs #content strong {
  color: #008CA5; }

.pro-pic {
  background: #fff;
  border: 1px solid #EBEBEB;
  text-align: center;
  height: 320px; }
  .pro-pic img {
    display: inline-block;
    max-width: 94%;
    max-height: 300px; }
  @media (max-width: 20em) {
    .pro-pic {
      height: 180px; }
      .pro-pic img {
        max-height: 170px; } }

.pro-info {
  padding-left: 3%; }
  .pro-info h3 {
    font-size: 1.3125em;
    margin-top: 20px;
    margin-bottom: 55px; }
  .pro-info small {
    display: block;
    color: #323232;
    font-size: 0.85714em;
    margin-bottom: 15px;
    margin-left: -7px; }
  .pro-info button {
    clear: both; }
  .pro-info select {
    margin-bottom: 35px; }
  @media (max-width: 48em) {
    .pro-info {
      padding-left: 0; }
      .pro-info h3 {
        margin-bottom: 20px; } }

.order-list table, .order-list textarea {
  margin-bottom: 30px; }
.order-list tr th:nth-child(3), .order-list tr th:nth-child(4), .order-list tr td:nth-child(3), .order-list tr td:nth-child(4) {
  width: 13%;
  max-width: 150px; }

input[type="checkbox"] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  cursor: hand;
  outline: none;
  user-select: none;
  background-attachment: fixed;
  background: #e5e5e5 url(../images/Products/check.png) center 50px no-repeat;
  border: 1px solid #fff;
  padding: 5px 10px;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  margin: auto; }

input[type="checkbox"]:hover + label {
  background-position: center 7px; }

input[type="checkbox"]:checked + label {
  background-position: center -48px; }

input[type="number"] {
  width: 80px;
  margin: auto; }

.other {
  margin-top: 40px; }
  @media (max-width: 48em) {
    .other img {
      max-width: 100%; } }
  .other li {
    margin-left: 20px; }

.text-list dt {
  margin-top: 20px;
  margin-bottom: 7.5px;
  font-size: 1.1875em;
  font-weight: bold;
  color: #555555;
  border-top: 1px solid #ebebeb;
  padding-top: 20px; }
.text-list dd {
  line-height: 2;
  font-size: 1.0625em; }
.text-list img {
  max-width: 90%; }

.tabs li {
  background: #fff;
  box-shadow: 1px 1px 1px #ccc;
  margin: 0 8px;
  margin-bottom: 12px;
  padding: 0; }
  .tabs li a {
    display: block;
    color: #559543;
    padding: 15px 36px; }
  .tabs li.active a, .tabs li a:hover {
    color: #fff; }

.News .text-list dt span {
  display: block;
  margin-bottom: 15px;
  font-size: 0.8125em;
  color: #777777; }
.News .text-list dd {
  display: none; }
.News .text-list dt {
  cursor: pointer;
  cursor: hand;
  transition: all .3s;
  font-size: 1.125em; }
  .News .text-list dt::after {
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    content: '+';
    background: #559543;
    color: #fff;
    font-weight: normal;
    margin-left: 10px;
    transition: all .5s; }
  .News .text-list dt:hover, .News .text-list dt:active {
    color: #777777; }
    .News .text-list dt:hover::after, .News .text-list dt:active::after {
      background: #EC8278; }
  .News .text-list dt.current {
    color: #559543; }
    .News .text-list dt.current::after {
      content: "-"; }

.FAQ .text-list dt, .FAQ .text-list dd {
  text-indent: -36px;
  padding-left: 36px; }
  .FAQ .text-list dt::before, .FAQ .text-list dd::before {
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #559543;
    color: #fff;
    margin-right: 8px;
    margin-left: 0;
    text-indent: 0;
    font-size: 14px;
    font-weight: normal; }
.FAQ .text-list dt::before {
  content: 'Q'; }
.FAQ .text-list dd::before {
  content: 'A';
  background: #EC8278; }
.FAQ .text-list dd > * {
  text-indent: 0;
  margin-bottom: 20px; }
.FAQ .text-list dd > p:first-child {
  margin-top: -28px; }

.mail input, .mail textarea {
  margin: 15px 0;
  max-width: 750px; }

.contacts, .map {
  height: 460px; }

@media (max-width: 48em) {
  .map {
    height: 300px; } }
.map iframe {
  width: 100%;
  height: 100%; }

.contacts {
  background: rgba(28, 40, 81, 0.7);
  color: #fff;
  width: 285px;
  padding: 15px;
  position: absolute;
  top: 52px;
  right: 0; }
  @media (max-width: 48em) {
    .contacts {
      position: relative;
      top: 15px;
      left: 0;
      height: auto;
      width: 100%; } }
  .contacts dt {
    float: left;
    clear: left;
    margin-right: 10px; }
  .contacts dt, .contacts dd {
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .contacts dd {
    border-bottom: 1px solid #8E95A8; }
  .contacts dt:first-child {
    font-size: 1.375em;
    font-weight: bold;
    float: none; }
  .contacts dt:nth-child(6) {
    margin-bottom: 5px;
    padding-bottom: 0; }
  .contacts dd:nth-child(7) {
    clear: left; }
  .contacts a {
    color: #fff; }
    .contacts a:hover, .contacts a:active {
      color: #EFAFAA; }
