@charset "UTF-8";


// import
// ------------------------------------------------------------
@import "helper/var";
@import "helper/mixins";

@import "component/classes";

@import "layout/grid";


// text
// ------------------------------------------------------------
@for $i from 1 through 6 {
    $headings: 30px 24px 20px 18px 16px 14px;

    h#{$i} {
        // font-size: em(m-get($heading, h#{$i}));
        font-size: em(nth($headings, $i));
        font-weight: bold;
    }
}

// list
// ------------------------------------------------------------
ul, ol {
    li {margin-bottom: 5px;}
}
ul {
    @extend .list-unstyled;

    li {
        position: relative;
        padding-left:10px;

        &::before {
            @include circle(5px);
            content:" ";
            background: $gray-light;

            position: absolute;
            left:0; top:8px;
        }
    }
}

// pic
// ------------------------------------------------------------
img {max-width:100%;}

[class*="float-"]  {
    max-width:46%;

    &.float-l {margin:0 $gutter $gutter 0;}
    &.float-r {margin:0 0 $gutter $gutter;}

    @include media(xxs) {
        max-width: none;
        width: 100%;
        &.float-l, &.float-r {margin:0 0 10px 0;}
    }
}