@charset "UTF-8";

// var 變數，需放在 @import "helper/var" 之上才能覆蓋掉
// ------------------------------------------------------------
$img-path2:         '../images/index';
$img-banner:        '../images/index/banner';

$btn-color:         #028BA4;
$btn-hover-color:   #fff;
$btn-bg-color:      #fff;
$btn-bg-hover:      #028BA4;
$btn-font-size:     13px;
$btn-padding:       12px 20px;


// import
// ------------------------------------------------------------
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/classes";

@import "layout/layout";

@import "module/hover";
@import "module/dropdown";


// layout
// ----------------------------------------------------------------------

// == banner
#banner {
    background: #F1F1F1;
    border: 1px solid #E5E5E5;
    margin: 3.5% 20px;

    @include mq(wider) {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
    }
    @include mq-max(tablet) {
        margin-left: $gutter;
        margin-right: $gutter;
    }
}
.swiper-wrapper {
    @extend %list-unstyled;
    margin-bottom: 0;
}
.swiper-slide {
    text-align: center;
    img { width: 100%; }
}

// == main
.new-product {
    float: left;
    display: block;
    position: relative;

    @include el(all) {
        @extend %effect-all;
        position: absolute;
    }
    &::before {
        @include size(100%);
        left: 0; top: 0;
    }
    &::after {
        $size: 60px;
        @include circle($size);
        left: 50%; top: 50%;
        margin: (-$size/2) 0 0 (-$size/2);
        background-position: center;
    }
    &:hover, &:active {
        &::before {
            background: rgba(0,0,0,.5);
        }
        &::after {
            background: rgba(255,255,255,.5) url(#{$img-path}/icon-look.png) center no-repeat;
            @include prefix(transform, scale(1.2))
        }
    }

    img {
        max-width: 540px;
        max-height: 324px;
    }

    @include mq-max(break(desktop,-1)) {
        float: none;
        img {
            width: 100%;
            max-height: auto;
        }
    }
}

.list-inline {
    float: right;
    width: 55%;

    @include mq(wider) { width: 61%; }
    @include mq(desktop, wide) { max-width: 420px; }
    @include mq-max(break(desktop, -1)) {
        float: none;
        width: 100%;
    }
    @include mq(break(phone, +1), break(desktop, -1)) {
        margin-top: 20px;
    }

    a {
        @extend %text-hide;
        // background-attachment: fixed;
        // background: url(#{$img-path2}/infoPic.png) right 30px no-repeat;

        // color: #00987A;
        // font-family: $font-sp;
        // font-size: em(31px);
        // letter-spacing: 2px;
        // text-align: left;

        display: block;
        height: 156px;
        // padding-top: 32px;
        // padding-left: 20px;

        @include mq(break(phone, -1), break(desktop, -1)) {
            height: 200px;
        }

        &:hover, &:active {
            // color: $brand-primary;
            box-shadow: 6px 10px 15px rgba(0,0,0,0.2) inset;
        }
    }
    li {
        @extend %effect-all;

        float: left;
        background: url(#{$img-path2}/infoBg.gif) center no-repeat;
        box-shadow: 1px 1px 0 #CBCBCB;
        width: 48.6%;
        margin-bottom: 10px;

        &:nth-child(even) { margin-left: 8px; }

        &:hover, &:active {
            @include prefix(transform, translate(1px,2px))
        }

        @include mq-max(break(desktop,-1)) { float: none; }
        @include mq-max(break(phone-plus,-1)) {
            margin: 0;
            width: 100%;
            &:nth-child(even) { margin-left: 0; }
        }

        // &:nth-of-type(2) a { background-position: right -210px; }
        // &:nth-of-type(3) a { background-position: right -418px; }
        // &:nth-of-type(4) a { background-position: right -650px; }
    }
}
