@charset "UTF-8";

@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/table";
@import "base/form";
@import "base/extend";
@import "base/classes";

@import "layout/layout";

@import "module/btn";
@import "module/figure";
@import "module/modal";


// main
// ----------------------------------------------------------------------
#wrapper::before {
    content: '';
    background: #f5f5f5 url(#{$img-path}/bg2.gif) 0 0 repeat-x;
    width: 100%; height: 70px;
    @include absolute(left 0 top 170px)
}

main {
    @extend %center;
    text-align: left;
    padding-top: 10px;
    z-index: z(main);
}

#slider {
    z-index: -1;
    @include absolute(top 0 left 265px);
    @include mq-max(tablet) {
        left: 0;
    }
}
#slider, .swiper-slide {
    width: 100%;
    height: 145px;
}
.swiper-wrapper {
    @extend %list-unstyled;
    margin-bottom: 0;
}
.swiper-slide {
    background-position: 0;
    background-repeat: no-repeat;

    @include mq-max(tablet) {
        background-position: center 0;
    }
}
@for $i from 1 through 4 {
    .i#{$i} {
        background-image: url(#{$img-path}/banner#{$i}.jpg);

        @include mq-max(tablet) {
            background-image: url(#{$img-path}/banner#{$i}_m.jpg);
        }
    }
}

.pro-menu {
    display: none;

    background: #E5E5E5 url(#{$img-path}/icon_select.gif) right center no-repeat;
    border: 1px solid #fff;
    color: $gray-darker;
    font-size: em(19px);
    font-weight: bold;
    width: 100%; height: 40px;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover, &:active { background-color: darken(#e5e5e5,5%); }
}
aside {
    float: left;
    width: cp(250px);
    margin-top: -35px;

    header {
        @include text-pic('title.gif',245px,97px,fixed);

        @for $i from 2 through length($pages) {
            $item: nth($pages, $i);
            .#{$item} & {
                background-position: 0 (-(119px * $i - 119px));
            }
        }
    }
    nav { max-width: 230px; }
    a {
        display: block;
        border-bottom: 1px solid #E5E5E5;
        font-size: em(18px);
        padding: $gutter 8px;

        &:hover, &:active, &.current,
        .order &:first-child {
            color: $error;
        }
    }

    @include mq-max(tablet) {
        width: 270px;
        margin-top: 0;

        header { display: none; }
        .pro-menu { display: block; }

        nav {
            background: #fff;
            border-radius: 5px 5px 0 0;
            width: 100%; max-width: 270px;
            position: absolute;
            z-index: z(dropdown);
            transition: all .3s;

            opacity: 0;
            visibility: hidden;

            &.open { opacity: 1; visibility: visible; }

            a {
                &:hover, &:active, &.current { background: lighten($gray,63%);}
            }
        }
    }
}

.breadcrumb, #content {
    float: right;
    width: cp(1115px);

    @include mq(wider) { width: cp(1160px); }
}
.breadcrumb {
    @extend %list-inline;

    a {
        color: #656565;
        font-size: em(14px,15px);

        &::after { content: '/'; }
        &:hover, &:active { color: $brand-secondary; }
    }
    li {
        float: left;
        color: $brand-primary;
        font-size: em(15px);
    }
    @include mq(break(tablet,+1),wide) {
        float: left;
        width: auto;
        margin-left: 95px;
    }
    @include mq-max(tablet) {
        text-align: right;
        width: auto;
        @include absolute(right 10px top 120px);
        li { display: inline-block; float: none; }
    }
}
#content {
    @extend %container;
    margin-top: 100px;
    > h2 { margin-top: 0; }

    @include mq-max(tablet) {
        margin-top: 130px;
        width: 100%;
        float: none;

        .Products & { margin-top: 150px; }
    }
}


// page set
// ----------------------------------------------------------------------

// == about us
.AboutUs #content {
    h3 { color: #172087; }
    strong { color: #008CA5; }
}

// == Products
.pro-pic {
    background: #fff;
    border: 1px solid #EBEBEB;
    text-align: center;
    height: 320px;

    @include middle(img) {
        max-width: 94%;
        max-height: 300px;
    }
    @include mq-max(mobile) {
        height: 180px;
        img { max-height: 170px; }
    }
}
.pro-info {
    padding-left: cp(30px);

    h3 {
        font-size: em(21px);
        margin-top: 20px;
        margin-bottom: 55px;
    }
    small {
        display: block;
        color: #323232;
        font-size: em(18px,21px);
        margin-bottom: 15px;
        margin-left: -7px;
    }
    button { clear: both; }
    select { margin-bottom: 35px; }

    @include mq-max(tablet) {
        padding-left: 0;
        h3 { margin-bottom: 20px; }
    }
}
.order-list {
    table, textarea { margin-bottom: 30px; }
    tr th, tr td {
        &:nth-child(3), &:nth-child(4) {
            width: cp(180px);
            max-width: 150px;
        }
    }
}

input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
input[type="checkbox"] + label {
    // 共用設定
    display: block;
    position: relative;
    cursor: pointer; cursor:hand;
    outline: none;
    user-select: none;

    // 各別設定(換圖及調大小)
    background-attachment: fixed;
    background: #e5e5e5 url(#{$img-path}/Products/check.png) center 50px no-repeat;
    border: 1px solid #fff;
    padding: 5px 10px;
    width: 34px; height: 34px;
    border-radius: 5px;
    margin: auto;
}
input[type="checkbox"]:hover + label {
    background-position: center 7px;
}
input[type="checkbox"]:checked + label {
    background-position: center -48px;
}
input[type="number"] {
    width: 80px;
    margin: auto;
}
.other {
    margin-top: 40px;
    @include mq-max(tablet) {
        img { max-width: 100%; }
    }
    li { margin-left: 20px; }
}

// == News & QA
.text-list {
    dt {
        margin-top: 20px;
        margin-bottom: $gutter/2;
        font-size: em(19px);
        font-weight: bold;
        color: $gray;
        border-top: 1px solid #ebebeb;
        padding-top: 20px;
    }
    dd {
        line-height: 2;
        font-size: em(17px);
    }
    img { max-width: 90%; }
}
.tabs {
    @extend %list-inline;
    li {
        @extend .btn;
        background: #fff;
        box-shadow:  1px 1px 1px #ccc;
        margin: 0 8px; margin-bottom: 12px;
        padding: 0;

        a {
            display: block;
            color: $brand-secondary;
            padding: 15px 36px;
        }
        &.active a, a:hover { color: #fff;}
    }
}

// == News
.News {
    .text-list {
        dt span {
            display: block;
            margin-bottom: $gutter;
            font-size: em(13px);
            color: $gray-light;
        }
        dd { display: none; }
        dt {
            cursor: pointer; cursor: hand;
            transition: all .3s;
            font-size: em(18px);
            &::after {
                @include circle(28px);
                content: '+';
                background: $brand-secondary;
                color: #fff;
                font-weight: normal;
                margin-left: 10px;
                transition: all .5s;
            }
            &:hover, &:active {
                color: $gray-light;
                &::after { background: #EC8278; }
            }
            &.current {
                color: $brand-secondary;
                &::after { content: '-' }
            }
        }
    }
}

// == QA
.FAQ {
    .text-list {
        dt, dd {
            text-indent: -36px;
            padding-left: 36px;
            &::before {
                @include circle(28px);
                background: $brand-secondary;
                color: #fff;
                margin-right: 8px;
                margin-left: 0;
                text-indent: 0;
                font-size: 14px;
                font-weight: normal;
            }
        }
        dt::before { content: 'Q'; }
        dd {
            &::before { content: 'A'; background: #EC8278; }
            > * { text-indent: 0; margin-bottom: 20px }
            > p:first-child { margin-top: -28px; }
        }
    }
}

// == Service
.mail {
    input, textarea {
        margin: $gutter 0;
        max-width: 750px;
    }
}

// == Contact Us
.contacts, .map { height: 460px; }
.map {
    @include mq-max(tablet) { height: 300px; }

    iframe { width: 100%; height: 100%; }
}
.contacts {
    background: rgba(#1C2851,.7);
    color: #fff;
    width: 285px;
    padding: $gutter;

    @include absolute(top 52px right 0);
    @include mq-max(tablet) {
        position: relative;
        top: $gutter; left: 0;
        height: auto;
        width: 100%;
    }

    dt { float: left; clear: left; margin-right: 10px; }
    dt, dd { margin-bottom: 10px; padding-bottom: 10px; }
    dd { border-bottom: 1px solid #8E95A8; }
    dt:first-child {
        font-size: em(22px);
        font-weight: bold;
        float: none;
    }
    dt:nth-child(6) { margin-bottom: 5px; padding-bottom: 0; }
    dd:nth-child(7) { clear: left; }
    a {
        color: #fff;
        &:hover, &:active { color: #EFAFAA; }
    }
}