@charset "UTF-8";

$font-size-h2: 46px;
$font-size-h3: 35px;
$line:         1px solid #EAEFDE;

@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";
@import "base/extend";
@import "base/classes";
@import "base/table";
@import "base/form";

@import "layout/layout";

@import "module/hover";
@import "module/btn";
@import "module/figure";
@import "module/dropdown";
@import "module/groups";


// main
// ----------------------------------------------------------------------
main {
    @extend %center;
    text-align: left;
    padding-top: 10px;
    z-index: z(main);
}

.breadcrumb {
    @extend %clearfix;
    @extend %list-inline;

    margin-top: 20px;
    margin-bottom: 35px;


    a {
        color: #B2B2B2;
        font-size: em(14px,20px);
        margin-right: 8px;

        @include el(after, '/') { margin-left: 3px; }
        &:hover, &:active { color: $brand-primary; }
    }
    li {
        float: left;
        color: $success;
        font-size: em(20px);
    }
}

.search {
    min-width: 130px;
    @include mq-max(phone-plus) { margin-bottom: 20px; }
    button {
        @extend %text-hide;
        @extend %effect-all;
        background-attachment: fixed;
        background: url(#{$img-path}/icon-search.gif) center 6px no-repeat;
        width: 40px;

        &:hover, &:active {
            background-position: center -48px;
        }
    }
}

#sidebar {
    float: right;
    width: cp(300px);

    @include mq-max(break(desktop, -1)) {
        margin-bottom: 2%;
    }
}
#content {
    float: left;
    width: cp(1060px);
}
#sidebar, #content {
    @include mq-max(break(desktop, -1)) {
        float: none;
        width: 100%;
    }
}

// == Products
.Products #main {
    header h2 {
        color: $brand-secondary;
        letter-spacing: 2px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    section {
        border-top: $line;
        margin-top: 35px;
    }
    .catalog, .series { border: none; }
}

// 產品分類選單
.catalog, .sub-nav {
    dl {
        background: lighten($gray-base, 96.8%);
        .btn {
            margin: 5px 0;
            padding: 8px 10px;
            background: lighten($gray-base, 90%);
            color: $gray;
            &:hover, &:active {
                background: $brand-primary;
                color: #fff;
            }
        }
    }
    dt { color: darken($brand-primary,20%); }
}

// 產品列表右選單
// 手機用按鈕
.pro-menu {
    display: none;

    font-size: em(18px);
    width: 100%;
    padding: 12px 0;

    @include mq-max(tablet) {
        display: block;
    }
}
.sub-nav {
    nav {
        @extend %clearfix;
        @extend %effect-all;
        margin-bottom: 25px;

        @include mq-max(tablet) {
            @include absolute(left $gutter right $gutter);
            background: lighten($gray-base, 96%);
            padding: 2%;

            opacity: 0;
            visibility: hidden;
            z-index: z(overlay);

            &.open { opacity: 1; visibility: visible; }
        }
    }
    header {
        color: $brand-primary;
        font-size: em(35px);
        margin-bottom: 5px;

        @include mq-max(break(desktop, -1)) {
            font-size: em(20px);
        }
    }
    dl {
        padding: 20px 15px;
        margin: 8px 0;

        &.current {
            .btn {
                color: #fff;
                background: $brand-primary;
            }
        }
        @include mq-max(break(desktop, -1)) {
            display: inline-block;
            vertical-align: top;
            width: 33%;
            padding: 12px 15px;
        }
        @include mq-max(tablet) {
            width: 32.6%;
            padding: 8px 5px;
            margin-left: 1px;
            background: lighten($gray-base, 99%);
            text-align: center;
        }
        @include mq-max(phone) {
            width: 100%;
            margin: 3px 0;
        }
        .btn {
            min-width: auto;
            font-size: em(15px);

            @include mq-max(tablet) {
                font-size: em(13px);
                margin-bottom: 2px;
            }
        }
    }
    dt {
        font-size: em(19px);
        margin-bottom: 10px;

        @include mq-max(break(desktop, -1)) {
            font-size: em(16px);
            margin-bottom: 8px;
        }
        @include mq-max(tablet) {
            font-size: em(15px);
            margin-bottom: 5px;
        }
    }

    &.fixed {
        @include fixed(top 20px right 20px);
        max-width: 270px;
        z-index: z(tooltip);

        @include mq(wider) {
            left: 50%;
            max-width: 308px;
            margin-left: 393px;
        }
        @include mq-max(break(desktop, -1)) {
            background: #fff;
            left: 0; top: 0; right: 0;
            margin-left: 0; max-width: 100%;
            padding: 0 $gutter;

            nav:last-child { margin-bottom: 0; }

            dt { margin-bottom: 2px; }
        }
    }
}

// 產品分類頁
.catalog {
    dl {
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 31.1%;
        margin: cp(20px) cp(8px);
        padding: 25px 7px;
        @include mq-max(break(desktop, -1)) { width: 28%; }
        @include mq(break(phone, +1),tablet) { width: 47%; }
        @include mq-max(phone) { width: 100%; margin: cp(20px) 0; }

        &:nth-of-type(3n+1) {
            margin-left: 0;
        }
    }
    dt {
        font-size: em(22px);
        padding-bottom: 25px;
    }
    .btn {
        font-size: 1em;
    }
}

// 產品分類&列表介紹
.intro {
    @extend %clearfix;
    padding-top: 10px;

    img {
        margin-top: -35px;
        @include mq-max(tablet) { margin-top: 0; }
    }
    h3 { margin-top: 0; margin-bottom: 0; }
}

// 產品列表
.kind {
    @extend %clearfix;
    @include mq-max(break(desktop, -1)) {
        text-align: center;
    }
}

// 產品內頁
.pro-pic {
    float: left;
    text-align: center;
    width: cp(620px);
    height: 350px;

    @include middle(img) {
        max-width: 400px;
        max-height: 350px;
    }
    @include mq-max(mobile) {
        // height: 180px;
        // img { max-height: 170px; }
    }
    @include mq(desktop,wide) {
        img { max-width: 290px; }
    }
    @include mq-max(tablet) {
        height: auto;
        padding: 3% 0;
    }
}
.pro-info {
    float: right;
    width: cp(760px);

    small {
        display: block;
        // font-size: em(40px, $font-size-h2);
        font-size: 65%;
        color: #CFCFCF;
        margin-top: 5px;
        // margin-left: 10px;
        // vertical-align: middle;

        // @include mq-max(break(tablet, -1)) {
        //     display: block;
        // }
    }
    .btn-download { margin-top: 30px; }

    @include mq-max(tablet) {
        padding-left: 0;
        h3 { margin-bottom: 20px; }
    }
}
.pro-pic, .pro-info {
    @include mq-max(tablet) {
        float: none;
        width: 100%;
    }
}
// 証書
.spec p {
    margin-top: 15px;

    strong { margin-right: 14px; }
}

// 系列產品(滑動特效)
#slide, .swiper-slide { height: 260px; }
#slide {
    position: relative;
    .btn-prev, .btn-next {
        z-index: 999;
        background-attachment: fixed;
        background: #eee url(#{$img-path}/Products/icon-arrow.png) 6px center no-repeat;
        cursor: pointer; cursor: hand;
        width: 30px; height: 100%;
        @include absolute(top 0);

        &:hover, &:active {
            background-color: #E5F4D8;
        }
    }
    .btn-prev { left: 0; }
    .btn-next { right: 0; background-position: -55px center; }
    figure {
        @include mq-max(break(desktop, -1)) { width: 30%; }
        @include mq-max(phone) { width: 85%; }
    }
}

// == News & Support
// 右選單
.tag {
    a {
        display: block;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 1px;

        margin-bottom: 25px;

        span { padding-left: 12px; }

        &.current span {
            border-radius: 3px;
            background: $brand-primary;
            color: #fff;
            padding: 5px 12px;
        }

        @include mq-max(break(desktop, -1)) {
            display: inline-block;
            margin: 0 10px 10px 0;

            span { padding: 0; }
        }
    }
}
.panel {
    position: relative;
    border: $line;
    border-radius: 8px;
    margin-bottom: 25px;

    header {
        margin: 0 5px;
        padding: 15px 10px;
        border-bottom: $line;
        font-size: em(17px);
        font-weight: bold;
    }
    footer {
        background: #f7f7f7;
        border-top: $line;
        border-radius: 0 0 8px 8px;
        padding: 10px 12px;
        color: #aaa;
        font-size: em(13px);
        text-align: right;
    }
    > p, div {
        padding: 18px 20px;
        font-size: em(15px);
    }
    .btn {
        font-size: em(13px);
        padding: 10px 15px;
    }
}

// == Contact Us
#map-canvas {
    float: right;
    box-shadow: 1px 2px 15px #eaeaea;
    width: cp(670px);
    height: 430px;
    margin-top: 55px;

    @include mq-max(tablet) {
        height: 300px;
        margin-top: 3%;
    }
}
.contacts {
    float: left;
    width: cp(700px);

    h3 { margin-top: 0; }
    input, textarea, button { margin: 15px 0; }

    @include mq-max(tablet) {

    }
}
#map-canvas, .contacts {
    @include mq-max(tablet) {
        float: none;
        width: 100%;
    }
}

// == about us
.AboutUs #main {
    h2 { margin-top: 0; margin-bottom: 20px; }
    h3 { margin-top: 20px; }
    p { color: #333; line-height: 1.9; }
    img {
        @include mq-max(tablet) { width: 45%; }
        @include mq-max(phone) { width: 86%; }
    }

//     &:nth-of-type(1) {
//         img { margin-right: 40px; }
//     }
//     &:nth-of-type(2) {
//         img { margin-top: -65px; margin-right: 30px; }
//     }
//     &:nth-of-type(3) {
//         background: #D7ECC5;
//         padding: 35px 20px;
//         img { margin-left: 25px; margin-right: 40px;}
//     }
//     &:nth-of-type(4) {
//         background: url(#{$img-path}/AboutUs/pic4.gif) center no-repeat;
//         padding: 170px 0;
//         text-align: center;
//         p {
//             color: #656565;
//             width: cp(750px);
//             max-width: 670px;
//             margin: auto;
//         }
//     }
}