@model List<ProcCore.Business.DB0.m_AboutUsDetail>
@{
    ViewBag.Title = "About Us";
    ViewBag.BodyClass = "AboutUs";
    ViewBag.Target = "About Us";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* 參考富學的後台介面[大家都選擇富學\語言的重要性]，使用編輯器，增加欄位就增加一組<article> 以下為範例 *@
@foreach (var detail in Model)
{
    @Html.Raw(detail.detail_content)
}


@*<article class="clearfix">
        <img src="~/Content/images/AboutUs/pic.gif" alt="" class="float-r">
        <h2 class="font-sp">About Atek JAPAN</h2>
        <p>Atek JAPAN is aiming to provide a high quality LED power supply to the market.  Our production and design team members have more than ten years of experience in power-related fields.  The LED PSU design combines the competency of advanced power design technology from Japan and manufacturing cost advantages from Asia. Therefore, it makes Atek LED power supply a highly competitive company on the LED Lighting market.</p>
    </article>
    <article class="clearfix">
        <img src="~/Content/images/AboutUs/pic2.gif" alt="" class="float-l">
        <p>All products are researched and developed to meet worldwide safety standards. Our LED PSU are complied with CE and PSE certifications. Major product lines are Constant Voltage (AC-DC) , Constant Current (DC-DC), and Zigbee & DALI dimming functions.  From the market feedback, we have received very good responses from our customers, especially in LED high-power PSU with IP rating for LED industrial lighting and LED outdoor lighting applications.</p>
    </article>
    <article class="clearfix">
        <img src="~/Content/images/AboutUs/pic3.gif" alt="" class="float-l">
        <h3 class="font-sp">OEM/ODM</h3>
        <p>In order to meet customers' special needs, we also offer the customize service. Our R&D team can design a custom-made LED power supply to meet your requirements. Atek Japan is honored to become your long-term power partner. Total Quality Assurance and Customer Satisfaction are the goals of our service.</p>
    </article>
    <article class="clearfix">
        <p>Faced with Global Warming, Atek JAPAN wishes to protect our environment by applying environmentally friendly LED power supply to help take care of the earth.</p>
    </article>*@