
@{
    ViewBag.Title = "Products::FEATURE OF PRODUCT::AC-DC";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "AC-DC";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">PRODUCTS</a></li>
}

<section class="catalog">
    <h3 class="font-sp">AC-DC</h3>

    <header class="intro">
        @* <h3 class="font-sp">FEATURE</h3> *@
        <img class="float-r" src="~/Content/images/Products/intro.jpg" alt="Feature of product">
        <ul class="text-list">
            <li>High efficiency up to 93%</li>
            <li>Depending on the load, either constant current or constant voltage mode is applicable.</li>
            <li>Saving Power < 0.5W</li>
            <li>Over Voltage, Short circuit and Overload protection.</li>
            <li>Built-in 3 in 1 dimming function, DALI, Zigbee as options.</li>
            <li>Surge protection 4KV / 5KV.</li>
        </ul>
    </header><!-- info //-->

    <dl>
        <dt>Contant Voltage</dt>
        <dd>
            <a href="~/Products/PSU_list" class="btn">LUX Series</a>
        </dd>
    </dl>
    <dl>
        <dt>DALI</dt>
        <dd>
            <a href="~/Products/PSU_list" class="btn">kind</a>
        </dd>
    </dl>
    <dl>
        <dt>Wireless</dt>
        <dd>
            <a href="~/Products/PSU_list" class="btn">Zigbee</a>
            <a href="~/Products/PSU_list" class="btn">Sub-GHZ</a>
        </dd>
    </dl>
</section>