@model List<ProcCore.Business.DB0.m_Product_Category_L1>
@{
    ViewBag.Title = "Products::FEATURE OF PRODUCT::AC-DC";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "PRODUCTS";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@foreach (var item in Model)
{
    <section class="catalog">
        <h3 class="font-sp">@item.l1_name</h3>

        @* 此為編輯器
            <header class="intro">
                @Html.Raw(item.l1_info)
            </header><!-- info //--> *@

        @foreach (var l2 in item.l2_list)
        {
            <dl>
                <dt>@l2.l2_name</dt>
                <dd>
                    @foreach (var l3 in l2.l3_list)
                    {
                        <a href=@("/Products/PSU_list?l1_id="+item.product_category_l1_id+"&l2_id="+l2.product_category_l2_id+"&l3_id="+l3.product_category_l3_id+"#l3-"+l3.product_category_l3_id) class="btn">@l3.l3_name</a>
                    }
                </dd>
            </dl>
        }
    </section>
}
