@model List<ProcCore.Business.DB0.m_Product_Category_L1>
@{
    ViewBag.Title = "プロダクト::FEATURE OF PRODUCT::AC-DC";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "プロダクト";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@foreach (var item in Model)
{
    <section class="catalog">
        <h3 class="font-sp">@item.l1_name</h3>

        <header class="intro">
            @* 此為編輯器，下列為範例 *@
            @Html.Raw(item.l1_info)
        </header><!-- info //-->
        @foreach (var l2 in item.l2_list)
        {
            <dl>
                <dt>@l2.l2_name</dt>
                <dd>
                    @foreach (var l3 in l2.l3_list)
                    {
                        <a href="~/Products/PSU_list?l2_id=@l2.product_category_l2_id" class="btn">@l3.l3_name</a>
                    }
                </dd>
            </dl>
        }
    </section>
}
