@model List<ProcCore.Business.DB0.m_Product_Category_L1>
@{
    ViewBag.Title = "プロダクト::FEATURE OF PRODUCT::AC-DC";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "プロダクト";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    string jp_SetLang = Url.Action("SetLanguageForP") + "?L=ja-JP&A=index"
            , en_SetLang = Url.Action("SetLanguageForP") + "?L=L=en-US&A=index";
    int l1id = Model.FirstOrDefault().product_category_l1_id;
    if (Request.Url.Segments.Length > 2)
    {
        jp_SetLang = Url.Action("SetLanguageForP") + "?L=ja-JP&A=" + Request.Url.Segments[2] + "&l1_id=" + l1id;
        en_SetLang = Url.Action("SetLanguageForP") + "?L=en-US&A=" + Request.Url.Segments[2] + "&l1_id=" + l1id;
    }
    if (Request.Url.Segments.Length > 1)
    {
        if (Request.Url.Segments[1].IndexOf("Products/PSU_list?l1_id=") >= 0)
        {
            string id = Request.QueryString["l1_id"];
            int[] en = { 3, 7, 8, 9 };
            int[] jp = { 2, 4, 5, 6 };
            int index = 0;
            if (id != null)
            {
                for (var i = 0; i < jp.Length; i++)
                {
                    if (jp[i] == int.Parse(id))
                    {
                        index = i;
                    }
                }
            }
            en_SetLang = Url.Action("SetLanguageForP") + "?L=en-US&A=" + en[index] + "&l1_id=" + l1id;
            jp_SetLang = Url.Action("SetLanguageForP") + "?L=ja-JP&A=" + jp[index] + "&l1_id=" + l1id;
        }
    }
}

@foreach (var item in Model)
{
    <section class="catalog">
        <h3 class="font-sp">@item.l1_name</h3>

        @* 此為編輯器
        <header class="intro">
            @Html.Raw(item.l1_info)
        </header><!-- info //--> *@

        @foreach (var l2 in item.l2_list)
        {
            <dl>
                <dt>@l2.l2_name</dt>
                <dd>
                    @foreach (var l3 in l2.l3_list)
                    {
                        <a href=@("Products/PSU_list?l1_id="+item.product_category_l1_id+"l2_id="+l2.product_category_l2_id+"&l3_id="+l3.product_category_l3_id+"#l3-"+l3.product_category_l3_id) class="btn">@l3.l3_name</a>
                    }
                </dd>
            </dl>
        }
    </section>
}
