
<nav>
	<header>AC-DC</header>
	<a href="~/Products/PSU_list">
		C.C / C.V (SELV)
		<em>Constant current / Constant Voltage</em>
	</a>
	<a href="~/Products/PSU_list">
		C.C
		<em>Constant current</em>
	</a>
	<a href="~/Products/PSU_list">
		DALI
		<em>Constant current / Constant Voltage</em>
	</a>
</nav>