
@{
    ViewBag.Title = "LED POWER SUPPLY";
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">PRODUCTS</a></li>
}

<h2>PSU_list</h2>
