
@{
    ViewBag.Title = "LED POWER SUPPLY";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">PRODUCTS</a></li>
}

<aside>
	@Html.Partial("~/Views/Products/PSU_Sidebar.cshtml")
</aside>