<aside id="sidebar" class="sub-nav">
    <nav>
        @* 第1層 *@
        <header class="font-sp">AC-DC</header>

        <dl class="current">
            @* 第2層 *@
            <dt>Constant Voltage</dt>
            <dd>
                @* 第3層 list後加 #p1*@
                <a class="btn" href="PSU_list#p1">Kind</a>
            </dd>
        </dl>
        <dl>
            <dt>DALI</dt>
            <dd>
                <a class="btn" href="PSU_list#p1">Kind</a>
            </dd>
        </dl>
        <dl>
            <dt>Wireless</dt>
            <dd>
                <a class="btn" href="PSU_list#p1">Zigbee</a>
                <a class="btn" href="PSU_list#p2">Sub-GHZ</a>
            </dd>
        </dl>
    </nav>

</aside>