
@{
    ViewBag.Title = "Products::FEATURE OF PRODUCT::AC-DC";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "AC-DC";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">PRODUCTS</a></li>
}

<section class="catalog">
    <h3 class="font-sp">AC-DC</h3>
    <dl>
        <dt>Contant Voltage</dt>
        <dd>
            <a href="~/Products/PSU_list" class="btn">kind</a>
        </dd>
    </dl>
    <dl>
        <dt>DALI</dt>
        <dd>
            <a href="~/Products/PSU_list" class="btn">kind</a>
        </dd>
    </dl>
    <dl>
        <dt>Wireless</dt>
        <dd>
            <a href="~/Products/PSU_list" class="btn">Zigbee</a>
            <a href="~/Products/PSU_list" class="btn">Sub-GHZ</a>
        </dd>
    </dl>
</section>