
@{
    ViewBag.Title = "Products::FEATURE OF PRODUCT::AC-DC";
    ViewBag.BodyClass = "Products";
    ViewBag.Target = "AC-DC";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">PRODUCTS</a></li>
}

@section Scripts {
    <script src="~/Content/js/classie.js"></script>
    <script>
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 185,
                    header = document.querySelector("aside");
                if (distanceY > shrinkOn) {
                    classie.add(header,"smaller");
                } else {
                    if (classie.has(header,"smaller")) {
                        classie.remove(header,"smaller");
                    }
                }
            });
        }
        window.onload = init();
    </script>
}