@charset "UTF-8";

$cols: 12 !default;

// 函數程式
// ------------------------------------------------------------
$one_col: 100% / $cols;

@mixin make-cols($class: md) {
    @for $i from 1 through $cols {
        $selector: if($class == 'md', '.col-#{$i}', '.col-#{$class}-#{$i}');

        #{$selector} {
            width: ($one_col * $i);
        }
    }
}

// 偏移
@mixin make-offset($class: md) {
    @for $i from 0 through ($cols - 1) {
        $selector: if($class == 'md', '.offset-#{$i}', '.offset-#{$class}-#{$i}');

        #{$selector} {
            margin-left: ($one_col * $i);
        }
    }
}


// output
// ------------------------------------------------------------
[class*="col-"] {
    // float: left;
    display: inline-block;
    vertical-align: middle;
    padding-left: $gutter/2;
    padding-right: $gutter/2;

    // hack
    // inline-block模式時 刪除多出間距
    margin-right: -4px;
    @if $lte7 { *display: inline; zoom: 1 }
}

.row {
    @extend %clearfix;
    // @extend %center;

    // margin-left:-$gutter/2;
    // margin-right:-$gutter/2;

    // form & {
    //     margin-bottom: $gutter;
    // }

    margin-bottom: $gutter;

    [class*="col-"] {
        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }
    }
}

[data-col*="first"],
.col-6:nth-of-type(2n+1),
.col-4:nth-of-type(3n+1),
.col-3:nth-of-type(4n+1) { padding-left: 0;}

[data-col*="last"],
.col-6:nth-of-type(2n),
.col-4:nth-of-type(3n),
.col-3:nth-of-type(4n) { padding-right: 0; }

@include make-cols(md); // 預設: md
@include mq-max(break(tablet,-1))  { @include make-cols(xs); }
@include mq-max(break(desktop,-1)) { @include make-cols(sm); }
@include mq(wide)                  { @include make-cols(lg); }
@include mq(wider)                 { @include make-cols(xl); }

@include make-offset(md); // 預設: md
@include mq-max(break(tablet,-1))  { @include make-offset(xs); }
@include mq-max(break(desktop,-1)) { @include make-offset(sm); }
@include mq(wide)                  { @include make-offset(lg); }
@include mq(wider)                 { @include make-offset(xl); }