@charset "UTF-8";

// 函數程式
// ------------------------------------------------------------
// tin
// $one_col: (100% - (cp($gutter) * ($cols - 1))) / $cols;
// @mixin cols($num) {
//     width: ($one_col * $num) + (cp($gutter) * ($num - 1));
// }

// stacey
$one_col: 100% / $cols;
@mixin cols($num) {
    width: ($one_col * $num);
    float: left;
    margin-bottom:$gutter;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
}

@mixin make-cols($class: md) {
    @for $i from 1 through $cols {
        @if($class == md) {
            .col-#{$i} { @include cols($i); }
        }
        @else {
            .col-#{$class}-#{$i} { @include cols($i); }
        }
    }
}

// 偏移
@mixin offset($num) {
    $one_col: 100% / $cols;
    margin-left: ($one_col * $num);
}

@mixin make-offset($class: md) {
    @for $i from 0 through $cols {
        @if($class == md) {
            .offset-#{$i} { @include offset($i); }
        }
        @else {
            .offset-#{$class}-#{$i} { @include offset($i); }
        }
    }
}


// output
// ------------------------------------------------------------
.row {
    @extend %clearfix;

    // stacey
    margin-left:-$gutter/2;
    margin-right:-$gutter/2;

    // tin
    // margin-bottom: $gutter;
    // [class*="col-"] {
    //     float: left;
    //     text-align: left;
    //     padding-left: $gutter;
    // }
    // > [class*="col-"]:first-child { padding-left: 0; }
}

@include make-cols(md); // 預設: md
@include media(xl-min) { @include make-cols(xl); }
@include media(lg-min) { @include make-cols(lg); }
@include media(sm)     { @include make-cols(sm); }
@include media(xs)     { @include make-cols(xs); }
@include media(xxs)    { @include make-cols(xxs); }

@include make-offset(md); // 預設: md
@include media(xl-min) { @include make-offset(xl); }
@include media(lg-min) { @include make-offset(lg); }
@include media(sm)     { @include make-offset(sm); }
@include media(xs)     { @include make-offset(xs); }
@include media(xxs)    { @include make-offset(xxs); }