@charset "UTF-8";

// wrapper
$wrapper-bg:            none !default;
$content-spacing:       50px !default;

// header
$header-height:         172px !default;
$logo-img:              'logo.gif' !default;
$logo-size:             309px 72px !default;

$menu-height:           51px;
$menu-height-sm:        100%;
$menu-link:             #001B23;
$menu-link-hover:       #fff;
// 行動版時推拉主選單寬度
$menu-trigger-width:    250px !default;

// footer
$footer-height:         105px !default;
$footer-height-sm:      100px;
$footer-transY:         $footer-height !default;
$footer-bg:             #EDEFF1;
$footer-color:          $text-color;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

// 最大寬度限制 (非滿版才需要)
%center {
    max-width: $max-width;
    margin: 0 auto;
}

// 內容器-header、wrap、main、footer等
%contain {
    padding-left: $gutter;
    padding-right: $gutter;

    @extend %clearfix;
    @include mq(wider) { padding: 0; }
}

#wrapper {
    @extend %container;
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;

    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
    // background: $wrapper-bg;

    @include mq-max(phone) {
        padding-bottom: $footer-height-sm + $content-spacing;
    }
}

.wrap {
    @extend %center;
    @extend %contain;
}

#header, footer, main {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    height: $header-height;
    z-index: z(header);

    margin-left: $gutter;
    margin-right: $gutter;

    @include mq(wider) { margin: 0 auto; }
    @extend %center;

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic($logo-img, nth($logo-size,1),  nth($logo-size,2));
        @include absolute(left 0 top 55px);

        @include mq-max(tablet) {
            background-image: url(#{$img-path}/logo2.gif);
            background-size: contain;
        }
        @include mq-max(phone) {
            left: 0; right: 0;
            width: 100%;
        }
    }
}

.top-nav {
    background: #CBCBCB;
    border-radius: 0 0 5px 5px;
    padding: 6px 10px;

    z-index: z(logo)-1;

    @include absolute(right 0 top 0);

    a, button {
        display: inline-block;
        color: #fff;
        font-size: em(12px);
        border-right: 1px solid #fff;
        padding-right: 10px;
        margin-right: 10px;

        &:hover, &:active {
            color: $brand-primary;
        }
    }
    button {
        background: none;
        border: none;
    }
    *:last-child {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
    }
}

// == 行動版主選單 開關
body, #menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-trigger, .toggle { display: none; }
.menu-trigger {
    background-attachment: fixed;
    background: url(#{$img-path}/icon.png) no-repeat 0 -59px;
    color: $brand-secondary;
    font-size: em(19px);
    font-weight: bold;
    padding-left: 25px;
    margin-left: -7px;
    z-index: z(overlay) + 1;

    @include absolute(left 0 top 5px);

    &:hover { color: $brand-primary; }

    @include mq-max(959px) { display: block; }
}
body {
    position: relative;
    overflow-x: hidden;
    left: 0;
}
.push {
    left: $menu-trigger-width;
    overflow-y: hidden;

    .md-overlay {
        opacity: 1;
        visibility: visible;
        left: $menu-trigger-width;
    }
}

#menu {
    font-size: em(21px);
    font-weight: bold;

    @include absolute(right 0 top 80px);

    $selector: ();
    @each $item in $pages {
        $i: index($pages, $item);
        $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
    }
    a {
        position: relative;
        display: inline-block;
        width: 100px;
        padding: 12px 0;
        color: $menu-link;

        &:hover, &:active,
        #{$selector} {
            background: #0646A3;
            border-radius: 5px;
            color: $menu-link-hover;

            &::after {
                @include arrow(bottom, 8px, 6px, #0646A3);
                @include absolute(top 100% left 50%);
                margin-left: -8px;
            }
        }
        @include mq(wide) { width: 140px; }
        @include mq-max(desktop) { font-size: em(19px,21px); width: 95px; }
    }

    @include mq-max(959px) {
        background: $brand-primary;
        width: $menu-trigger-width;
        height: 100%;
        overflow-y: auto;
        z-index: z(overlay) + 1;

        @include fixed(top 0);
        left: -$menu-trigger-width;

        .toggle {
            display: block;
            cursor: pointer; cursor: hand;
            background: $brand-primary url(#{$img-path}/icon.png) no-repeat right 6px;

            color: #fff;
            font-size: em(20px);
            letter-spacing: 0.1em;

            padding: 20px 0;
        }
        .push & { left: 0; }

        a {
            border-bottom: 1px solid $brand-secondary;
            color: #fff;

            font-size: em(18px);
            font-weight: normal;
            letter-spacing: 0.03em;
            text-align: left;

            width: 100%;
            padding: $gutter;

            &:hover, &:active,
            #{$selector} {
                background: darken($brand-secondary,2%);
                border-radius: 0;

                &::after { display: none; }
            }
        }
    }
}


// footer
// ----------------------------------------------------------------------
footer {
    background: $footer-bg;
    margin-top: -($footer-transY);
    padding: $gutter 0;
    min-height: $footer-height;
    z-index: z(footer);

    color: $footer-color;

    li {
        text-align: left;
        margin: 5px 0;
        margin-left: 20px;

        &:nth-child(2),
        &:nth-child(3) {
            font-size: em(20px);
            float: left;
        }
        &:nth-child(3) { margin-left: 20px; }
        em {
            background: $brand-primary;
            border-radius: 3px;
            color: #fff;
            font-style: normal;
            font-size: em(14px);
            text-align: center;

            display: inline-block;
            line-height: 22px;
            width: 22px;
            margin-right: 6px;
        }
    }
    @include mq-max(phone) {
        ul { margin-top: 20px; }
    }
}

.copyright {
    font-size: em(12px);
    text-align: left;
    margin-top: 15px;

    em {
        @include text-pic("logo_s.gif",120px,33px);
        display: inline-block;
        margin-right: 10px;
        margin-bottom: -3px;
        vertical-align: bottom;

        @include mq-max(break(tablet,-1)) {
            background-image: url(#{$img-path}/logo_s2.gif);
            background-size: contain;
        }
    }
}

.goTop {
    @include fixed(bottom 10px right 10px);
    @include circle(50px);

    background: rgba($brand-secondary,0.6);
    color: #fff;

    display: none;
    z-index: z(goTop);

    &:hover, &:active {
        opacity: 1;
        background: $brand-primary;
        color: #fff;
    }
}
