@charset "UTF-8";

// wrapper
$wrapper-bg:            #fff !default;
$content-spacing:       30px !default;

// header
$header-height:         126px !default;

$menu-height:           70px !default;
$menu-link:             transparent !default;
$menu-link-hover:       #F6EFCB !default;

// footer
$footer-height:         452px !default;
$footer-bg:             $gray-dark;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

%center {
    max-width: wrap-width(xl); // 最大寬度限制 (非滿版才需要)
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    // 最小寬度限制 (無 RWD)
    min-width: 1140px;

    // 最小寬度限制 (有 RWD - 至少 xxs 的寬度)
    // min-width: wrap-width(xxs);
}

#wrapper {
    @extend %container;
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
}

.wrap {
    @extend %container;
    @extend %center;
    @extend %clearfix;

    padding:0 20px;
}

#header, #footer, #main {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    height:$header-height;

    z-index: z(header);

    box-shadow:0 3px 3px hsla(0,0,0,0.12);

    .wrap {
        position: relative;
        height:$header-height;
    }

    .logo {
        height:66px;
        width:330px;
        font-size: 1em;
        font-weight: normal;

        position: absolute;
        left:35px; top:30px;
        z-index: z(logo);

        a {
            @include text-hide;

            display: block;
            height:100%;
            background:url(#{$img-path}/logo.gif) left center no-repeat;

            // font-size: em(58px);
            // color:$text-color;

            // padding-left:90px;
            // padding-top:5px;
        }
    }
}

.menu-trigger {
    display:none;
    width:50px;
    height:50px;
    text-indent:-9999px;

    background:url(#{$img-path}/iconMenuBar.gif) no-repeat center center #C49534;
    border:0;

    float:right;

    @include media(xs) {display:block;}
}

#menu {
    position: absolute;
    right:20px; bottom:0;

    a {
        display: inline-block;
        height: 80px;
        color:$text-color;
        font-size: em(18px);

        position: relative;
        padding:20px 25px;

        &::after {
            @include make-content($content:'\e901', $width:13px, $height:8px);
            font-family: 'icomoon';
            font-size: em(12.8px);
            color:#ccc;
            left: 50%; top: -100px;
            transform: translateX(-50%);
            transition: top 0.3s;
        }

        $selector: ();
        @each $item in $pages {
            $i: index($pages, $item);

            $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
        }
        &:hover,
        #{$selector} {
            color:#666;
            &::after {top:48px;}
        }
    }
}

.topNav {
    position: absolute;
    top:0;
    right:20px;

    li {
        display: block;
        float:left;
        padding:0 0 0 4px;

        a {
            display: block;
            width:65px; height:47px;
            background:#EFEFEF;

            span {display: none;}

            i {
                font-size:em(37px);
                color:#666;
                line-height: 53px;
            }

            &:hover {
                background:#E89024;
                i {color:#fff;}
            }
        }

        &.hello {
            padding-top:12px;
            padding-right:10px;

            a {
                background:none;
                display: inline;
            }
        }

        &.cart {
            a {
                position: relative;

                i {
                    font-size:em(33.5px);
                    line-height: 1;

                    position: absolute;
                    left:10px; top:12px;
                }

                em {
                    display: block;
                    min-width:20px;
                    height:20px;
                    background:#E89024;
                    border-radius:10px;

                    font: normal 13px/20px $font-family-base;
                    color:#fff;

                    position: absolute;
                    left:50%; top:8px;

                    padding:0 5px;
                }

                &:hover {
                    em {background:$success;}
                }
            }
        }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    background: $footer-bg;

    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);

    color: #F2F2F2;
    text-align: left;

    padding:45px 0;

    h2.title {
        font-size: em(20px);
        font-weight: bold;
        color:#EFEFEF;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        border-bottom:1px solid #4D4D4D;

        margin-bottom: 22px;

        span {
            background:$footer-bg;
        }
    }

    .about, .info, .contact {
        width:40%;
        float:left;

        padding-right:50px;
    }

    .about {
        font-size: em(15px);
    }

    .info {
        li {
            margin-right:34px;
            margin-bottom:22px;

            a {
                color:#B3B3B3;
                font-weight: bold;

                &:hover {color:#E89024;}
            }
        }
    }

    .contact {
        font-size: em(15px);
        margin-bottom: 35px;

        li {
            margin-bottom: 12px;

            strong {
                font-size: em(22px,15px);
                color:#E89024;

                &:first-child {margin-right:30px;}
            }
        }
    }

    .fb {}
}

.copyright {
    clear:both;
    border-top:1px solid #4d4d4d;
    font-size: em(12px);
    color:#666;

    padding-top:15px;
}
.goTop {
    @include fixed(bottom cp(10px) right cp(10px));
    @include circle(40px);

    display: none;
    background: $brand-primary;
    font-size: em(12px);
    color: #fff;
    opacity: 0.5;

    z-index: z(goTop);
    transition: opacity 0.3s;

    &:hover, &:active {
        opacity: 1;
        color:#fff;
    }
}