@charset "UTF-8";

// wrapper
$wrapper-bg:            $brand-primary !default;
$content-spacing:       50px !default;

// header
$header-height:         110px !default;
$header-height-sm:      62px !default;
$header-bg:             $brand-primary !default;
$logo-img:              'logo.gif' !default;
$logo-size:             179px 83px !default;
$logo-position:         left 0 top 15px !default; // false

$menu-height:           51px;
$menu-height-sm:        100%;
$menu-link:             #fff;
$menu-link-hover:       #fff;
// 行動版時推拉主選單寬度
$menu-trigger-width:    250px !default;

// footer
$footer-height:         216px !default;
$footer-height-sm:      300px;
$footer-transY:         $footer-height !default;
$footer-bg:             #ECECEC;
$footer-color:          #808080;
$goTop-position:        bottom 30px right 10px !default;


/*      layout
-----------------------------------------------------------------------*/
// 置中(rwd,非滿版的元素)
%center {
    max-width: $max-width;
    margin: 0 $gutter + 5;

    @include mq(wider) { margin: 0 auto; }
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    @include mq-max(tablet) {
        padding-left: $gutter;
        padding-right: $gutter;
        margin: 0;
    }
}

.wrap, #main {
    @extend %center;
    @extend %contain;
}

#wrapper, #header, #footer, #main, .wrap {
    position: relative;
}
#footer {
    @extend %contain;
}

#wrapper {
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @include el(before) {
        position: absolute;
        width: 100%;
        height: $header-height;
        background: $wrapper-bg;
        box-shadow: 0 3px 0 #E1E2D7;

        @include mq-max(break(desktop,-1)) {
            height: $header-height-sm;
        }
    }

    @include mq-max(phone) {
        padding-bottom: $footer-height-sm + 20px;
    }
}


// header
// ----------------------------------------------------------------------
#header {
    @extend %center;
    z-index: z(header);
    height: $header-height;

    @include mq-max(break(desktop, -1)) { height: $header-height-sm; }
    @include mq-max(tablet) { margin: 0 $gutter; }

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic($logo-img, nth($logo-size,1), nth($logo-size,2));

        @if $logo-position {
            @include absolute($logo-position);
        }
        @else {
            float: left;
            margin-top: 15px;
        }

        @include mq-max(break(desktop, -1)) {
            left: 50%;
            margin-left: -(nth($logo-size,1) / 2);
            background-size: contain;
            width: 120px;
            top: 1.5%;
        }
        @include mq-max(break(phone, -1)) {
            right: -10px; left: auto;
            margin-left: 0;
        }
    }
}

// == 行動版主選單
body {
    @include transition(left .35s)
}
.menu-trigger {
    @extend %text-hide;
    display: none;
    cursor: pointer;

    $button-width: 62px;
    $button-height: 50px;
    $bar-thickness: 4px;
    $button-pd: 10px;
    $bar-color: #C2E57E;

    position: relative;
    left: -5px;
    top: ($header-height-sm - $button-height)/2;
    overflow: hidden;
    width: $button-width;
    height: $button-height;

    @include transition(background 0.3s);
    @include prefix(apperance, none, webkit moz);
    @include mq-max(break(desktop,-1)) { display: block; }
    @include mq-max(break(phone, -1)) { top: ($header-height-sm - $button-height)/2; }

    &:active, &.active {
        // background-color: darken($brand-primary, 2.5);
        span {
            background: none;
            &::before {
                top: 0;
                @include transform(rotate(45deg));
            }
            &::after {
                bottom: 0;
                @include transform(rotate(-45deg));
            }
            &::before, &::after {
                @include prefix(transition-delay, '0, .3s');
            }
        }
    }

    span {
        @include absolute(left $button-pd right $button-pd top (($button-height / 2) - ($bar-thickness / 2)));
        display: block;

        background: $bar-color;
        height: $bar-thickness;
        margin: auto;
        @include transition(background 0s 0.3s);

        @include el(all) {
            width: 100%;
            height: $bar-thickness;
            background-color: $bar-color;
            @include absolute(left 0);
            @include prefix(transition-duration, '.3s, .3s');
            @include prefix(transition-delay, '.3s, 0');
        }
        &::before {
            top: -(($button-height / 2) - ($bar-thickness / 2) - $button-pd);
            @include prefix(transition-property, 'top, transform');
        }
        &::after {
            bottom: -(($button-height / 2) - ($bar-thickness / 2) - $button-pd);
            @include prefix(transition-property, 'bottom, transform');
        }
    }
}
.push {
    left: $menu-trigger-width;
    overflow-y: hidden;

    .md-overlay {
        opacity: 1;
        visibility: visible;
        left: $menu-trigger-width;
    }
}

%nav-acitve {
    background: url(#{$img-path}/menuBg.gif) right 0 no-repeat;
    padding-bottom: 30px;
}

// 主選單
#menu {
    float: right;
    // text-align: right;
    top: 60px;
    position: relative;

    $current: ();
    @each $item in $pages {
        $i: index($pages, $item);
        $current: append($current, unquote(".#{$item} &:nth-of-type(#{$i}) > a"), comma);
    }

    > li {
        position: relative;

        > a {
            display: block;
            padding: 0 45px 0 17px;

            border-left: 3px solid #D8DF2B;
            color: $menu-link;
            font-size: em(18px);
            font-family: $font-sp;
            letter-spacing: 2px;
            line-height: 1.1;

            @include transition('background .5s, padding-bottom .35s');

            &:hover, &:active { @extend %nav-acitve; }

            @include mq-max(break(wide,-1)) { padding-right: 27px; }
        }

        #{$current} { @extend %nav-acitve; }

        &:hover, &:active {
            > a { @extend %nav-acitve; }

            .sub-nav {
                opacity: 1;
                visibility: visible;
                // display: block; 測試用
            }
        }
    }

    @include mq-max(break(desktop,-1)) {
        @include fixed(top 0 left (-$menu-trigger-width));
        @include transition(left .35s);

        background: #333;
        width: $menu-trigger-width;
        height: 100%;
        overflow-y: auto;

        z-index: z(overlay) + 1;

        .push & { left: 0; }

        .toggle {
            display: block;
            cursor: pointer; cursor: hand;
            background: $brand-primary url(#{$img-path}/icon.png) no-repeat right 6px;

            color: #fff;
            font-size: em(20px);
            letter-spacing: 0.1em;

            padding: 20px 0;
        }

        > li {
            border-bottom: 1px solid #454545;
            width: 100%;

            > a {
                color: #fff;
                border-left-width: 4px;

                font-size: em(18px);
                font-weight: normal;
                text-align: left;

                padding: $gutter;
            }

            > a:hover, > a:active,
            &:hover > a, &:active > a, &.active > a,
            #{$current} {
                padding: ($gutter + 10) $gutter;
                background: $brand-primary;
                border-left-color: #C2E57E;
            }
        }
    }
}

// 第二層選單
.sub-nav {
    background: #f7f7f7;
    box-shadow: 1px 2px 3px rgba(#000,.3);

    opacity: 0;
    visibility: hidden;
    padding: 10px $gutter;
    text-align: left;
    max-width: 770px;

    @include absolute(top 50px);
    @include transition(opacity .5s);
    // @include transform(translateX(-50%));

    @include mq-max(break(desktop,-1)) {
        display: none;
        opacity: 1;
        visibility: visible;
        position: static;
        transform: none;

        top: 100%;
        // border-left: 3px solid darken(#D8DF2B,15);
        background: #222;
        box-shadow: inset 3px 6px 15px rgba(#000,.5);
        padding-top: 12px;
        padding-bottom: 12px;
        max-width: 100%;
    }

    dl {
        // float: left;
        // overflow: hidden;
        width: 160px;
        margin: 0 1%;
        margin-bottom: 20px;

        @include mq(desktop) {
            display: inline-block;
            vertical-align: top;
        }
        @include mq-max(break(desktop,-1)) {
            width: 98%;
        }
    }
    dt {
        font-size: em(19px);
        line-height: 1.7;
        color: darken($brand-primary,5);
        border-bottom: 2px solid #ccc;
        margin-bottom: 15px;

        @include mq-max(break(desktop,-1)) {
            color: #eee;
            border-bottom-color: #333;
        }
    }
    dd {
        margin-bottom: 20px;

        &:last-of-type { margin-bottom: 0; }
    }

    h5 {
        margin-bottom: 8px;
        line-height: 1.1;
        color: darken($brand-primary,25);
    }

    a {
        display: block;
        padding: 6px 0;
        // padding-left: $gutter - 2px;
        text-align: left;
        font-size: em(15px);
        color: #555;

        position: relative;

        @include el(before) {
            @include absolute(left 0 top 35%);
            @include arrow($color: lighten(#000,65));
            @include transition('left .3s, opacity .6s');
            opacity: 0;
        }

        &:hover, &:active, &.current {
            color: $brand-primary;

            &::before {
                left: -10px;
                opacity: 1;
            }
        }

        @include mq-max(break(desktop,-1)) {
            color: #ccc;
        }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    z-index: z(footer);
    background: $footer-bg;
    color: $footer-color;
    min-height: $footer-height;
    margin-top: -($footer-height);

    padding: 43px 0;
    text-align: left;

    @include mq-max(phone) {
        margin-top: -($footer-height-sm);
    }

    .contact {
        border: 1px solid #fff;
        padding: 20px 30px;
        margin-right: 3%;

        @include mq-max(tablet) { margin-right: 0; }
        @include mq-max(break(phone, -1)) { padding: 12px; }

        em {
            @include text-pic('icon-contact.gif',24px,21px,fixed,0 0);
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
        }
        a { color: $footer-color; }
        .col-3 {
            color: #545454;
            font-size: em(17px);
            line-height: 2.5;

            @include mq-max(break(phone, -1)) {
                font-size: em(19px);
            }

            li:nth-of-type(2) em { background-position: 0 -54px; }
        }
        .col-9 {
            font-size: em(14px);
            line-height: 1.2;

            li { margin: 10px 0; }
        }
    }
}

.copyright {
    color: #B5B5B5;
    font-size: em(14px);

    @include absolute(right 15px bottom 20px);
    @include mq-max(tablet) {
        left: 15px; bottom: -30px;
        text-align: center;
    }
}

.club {
    a {
        @extend %circle;
        @include text-pic('icon-club.gif',55px,55px,fixed,14px center);

        display: inline-block;
        background-color: $brand-primary;
        margin: 25px 18px 20px 0;

        &:nth-child(2) { background-position: -62px center; }
        &:nth-child(3) { background-position: -138px center; }
        &:hover, &:active {
            background-color: lighten($brand-secondary,10%);
            box-shadow: 5px 8px 16px rgba(0,0,0,0.2);
            @include transform(translate(-2px,-2px));
        }
    }
}

.goTop {
    display: none;
    z-index: z(goTop);

    opacity: .65;
    transition: all .5s ease;

    @include fixed($goTop-position);
    @include text-pic('goTop.png',42px,23px);

    &:hover, &:active { opacity: 1; }
}
