@{
    ViewBag.Title = "index";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <script>
        var mySwiper = new Swiper('#banner', {
            autoplay: 4000,
            speed: 1000,
            effect: 'fade',
            autoplayDisableOnInteraction: false
        })
    </script>
}

<div id="banner" class="swiper-container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide i1"></li>
        <li class="swiper-slide i2"></li>
    </ul>
</div><!-- banner //-->

<section id="main">

    <a class="new-product" href="~/Products/PSU_list">
        <img src="~/Content/images/index/newProduct.jpg" alt="新產品範例圖">
    </a>
    <ul class="list-inline">
        <li><a href="~/AboutUs" style="backgrond: url(~/Content/images/index/in1.jpg) center no-reapt">ABOUT ATEK</a></li>
        <li><a href="~/Support" style="backgrond: url(~/Content/images/index/in2.jpg) center no-reapt">OEM/ODM</a></li>
        <li><a href="~/News/list" style="backgrond: url(~/Content/images/index/in3.jpg) center no-reapt">EXHIBITION</a></li>
        <li><a href="~/Support" style="backgrond: url(~/Content/images/index/in4.jpg) center no-reapt">SUPPORT</a></li>
    </ul>

</section><!-- main //-->