
@{
    ViewBag.Title = "Search";
    ViewBag.BodyClass = "Search";
    ViewBag.Target = "検索";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="kind">

    <figure>
        <img src="~/Content/images/Products/pic.jpg" alt="產品圖">
        <figcaption>
            <h3>分類1/ 分類2/ 分類3</h3>
            <h4>產品名稱</h4>
            <span>型號規格</span>
            <a href="~/Products/PSU_content">READ MORE</a>
        </figcaption>
    </figure>

    <figure>
        <img src="~/Content/images/Products/pic.jpg" alt="產品圖">
        <figcaption>
            <h3>分類1/ 分類2/ 分類3</h3>
            <h4>產品名稱</h4>
            <span>型號規格</span>
            <a href="~/Products/PSU_content">READ MORE</a>
        </figcaption>
    </figure>

</section>
