@charset "UTF-8";

// var
// -----------------------------------------------------------------
$table-padding: 5px 10px 15px !default;
$font-size-caption: 22px !default;
$font-size-th: 19px !default;
$font-size-td: 17px !default;

$table-color: (
    table-bg:               $brand-primary,
    table-bg-accent:        #f9f9f9,
    table-bg-hover:         #fff,
    table-bg-active:        #D6FAFC,
    table-border:           lighten($brand-primary,50%),
    table-th:               #fff,
    table-td:               $text-color,
    table-caption:          darken($brand-primary,5%),
);

// 合併配色
$color: map-extend($color, $table-color);


// 函數程式
// -----------------------------------------------------------------

// table情景色設定
@mixin table-row-variant($state, $background) {
    .table {
        .#{$state},
        .#{$state} td,
        .#{$state} th {
            background-color: $background;
        }
    }

    .table-hover {
        .#{$state}:hover,
        .#{$state}:hover td,
        .#{$state}:hover th,
        tr:hover .#{$state} {
            background-color: darken($background, 5%);
        }
    }
}


/*      table
-----------------------------------------------------------------------*/
table {
    // margin: $line-height-computed 0;
}
th, td {
    border: 1px solid color(table-border);

    color: color(table-td);
    // font-size: em($font-size-td);
    line-height: $line-height-base;

    text-align: center;
    vertical-align: middle;
}

th {
    background: color(table-bg);
    padding: nth($table-padding, 2);
    color: color(table-th);
    font-size: em($font-size-th);
    font-weight: bold;
}
td {
    padding: 3px nth($table-padding, 1);
}

// 滑鼠移過變色
tr:hover {
    // background-color: color(table-bg-hover);
}

caption {
    padding-top: nth($table-padding, 1);
    padding-bottom: nth($table-padding, 1);

    color: color(table-caption);
    font-size: em($font-size-caption);
    line-height: $line-height-sm;
    text-align: center;
}

// 固定欄寬度
.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}

// 斑馬紋條列式表格
// tr:nth-of-type(odd) {
//     background-color: color(table-bg-accent);
// }

// 背景色
// @include table-row-variant('active', color(table-bg-active));
// @include table-row-variant('green', $green-bg);
// @include table-row-variant('blue', $blue-bg);
// @include table-row-variant('yellow', $yellow-bg);
// @include table-row-variant('red', $red-bg);


// 響應式表格
//
// '.table-responsive' < 768 時會出現水平卷軸

// .table-responsive {
//     overflow-x: auto;
//     min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

//     @include media(sm) {
//         width: 100%;
//         margin-bottom: ($line-height-computed * 0.75);
//         overflow-y: hidden;
//         -ms-overflow-style: -ms-autohiding-scrollbar;
//         border: 1px solid color(table-border);

//         table {
//             margin-bottom: 0;
//             th, td {
//                 white-space: nowrap;
//             }
//         }

//         .table-bordered {
//             border: 0;

//             > tr {
//                 > th:first-child,
//                 > td:first-child {
//                     border-left: 0;
//                 }
//                 > th:last-child,
//                 > td:last-child {
//                     border-right: 0;
//                 }
//             }

//             > tr:last-child {
//                 > th, > td {
//                     border-bottom: 0;
//                 }
//             }
//         }
//     }
// }

