@charset "UTF-8";

$table-padding: 5px;
$font-size-caption: 30px;
$font-size-td: $font-size-sm;


/*      table
-----------------------------------------------------------------------*/
table {}
th, td {
    padding: $table-padding;
    line-height: $line-height-base;
}

// 滑鼠移過變色
tr:hover {}

caption {
    background: color(table-bg);
    padding-top: nth($table-padding, 1);
    padding-bottom: nth($table-padding, 1);

    color: color(table-caption);
    font-size: em($font-size-caption);
    line-height: $line-height-sm;
    text-align: center;
}

// 固定欄寬度
.fixed {
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
}

// 斑馬紋條列式表格
// tr:nth-of-type(odd) {
//     background-color: color(table-bg-accent);
// }

// 背景色
// @include table-row-variant('active', color(table-bg-active));
// @include table-row-variant('green', $green-bg);
// @include table-row-variant('blue', $blue-bg);
// @include table-row-variant('yellow', $yellow-bg);
// @include table-row-variant('red', $red-bg);


// 響應式表格
//
// '.table-responsive' < 768 時會出現水平卷軸

// .table-responsive {
//     overflow-x: auto;
//     min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

//     @include media(sm) {
//         width: 100%;
//         margin-bottom: ($line-height-computed * 0.75);
//         overflow-y: hidden;
//         -ms-overflow-style: -ms-autohiding-scrollbar;
//         border: 1px solid color(table-border);

//         table {
//             margin-bottom: 0;
//             th, td {
//                 white-space: nowrap;
//             }
//         }

//         .table-bordered {
//             border: 0;

//             > tr {
//                 > th:first-child,
//                 > td:first-child {
//                     border-left: 0;
//                 }
//                 > th:last-child,
//                 > td:last-child {
//                     border-right: 0;
//                 }
//             }

//             > tr:last-child {
//                 > th, > td {
//                     border-bottom: 0;
//                 }
//             }
//         }
//     }
// }

