@charset "UTF-8";

// common
// ------------------------------------------------------------
%clearfix, .clearfix {
    &::after { content: ''; display: table; clear: both; }
    @if $lte7 { zoom: 1 }
}

.full, %full         { width: 100%; max-width: 100%; }
.half, %half         { width: 46.9% }

// .float-l, %float-l,
// .float-r, %float-r   { margin: 0 0 20px 0; position: relative; }

.float-l, %float-l     { float: left !important; }  // 預設: md
.float-r, %float-r     { float: right !important; } // 預設: md


.valign-t, %valign-t { vertical-align: top; }
.valign-m, %valign-m { vertical-align: middle; }
.valign-b, %valign-m { vertical-align: bottom; }
.clear, %clear       { clear:both }

.hidden, %hidden     {display:none;}

.circle, %circle     { border-radius: 50%; } // 圓形

// text
// ------------------------------------------------------------
.text-left, %text-left     { text-align: left; }
.text-right, %text-right   { text-align: right; }
.text-center, %text-center { text-align: center; }

// 多行文字垂直置中
%text-middle {
    position: relative;
    top: 50%;
    @include prefix(transform,translateY(-50%))
    // * { display: inline-block; vertical-align: middle; }
    // &::before {
    //     content: '';
    //     display: inline-block;
    //     vertical-align: middle;
    //     height: 100%;
    //     // position: relative;
    //     // @include size(0,100%);
    // }
}

%list-unstyled, .list-unstyled {
    list-style: none;
}

%list-inline, .list-inline {
    @extend %list-unstyled;

    margin-left: -5px;

    > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
}

// 情境: var.scss> $states: true
// @if $states {

//     [class*="bg-"] {
//         color: #fff;
//     }

//     @each $type, $color in $state-type {
//         .text-#{$type} {
//             @include state($color);
//         }
//         .bg-#{$type} {
//             @include state($color, bg)
//         }
//     }
// }

// 文字情境色
@each $type, $color in $state-type {
    .text-#{$type} {
        @include state($color)
    }
}
.text-success {color:saturate(darken($success,15%),10%);}
.text-warn {color:saturate(darken($warning,10%),10%);}


// elements
// ------------------------------------------------------------
.border {border:1px solid #DBD2CC;}

.tab-switcher {
    @extend .list-inline;
    
    border-bottom:1px solid #E6E6E6;
    margin-bottom:45px;

    li {
        padding:0;

        a, span {
            display: block;
            border-bottom:5px solid #fff;

            color:$text-color;
            letter-spacing: 0.1em;

            padding:18px 40px;

            &.current {
                color:$brand-primary;
                border-bottom-color:#e89024;
            }
        }

        a:hover {
            color:$brand-primary;
            border-bottom-color:#e89024;
        }
    }
}

.tab-content {
    display:none;
    &:nth-of-type(1) {display:block;}
}

.prolist {
    @extend .row;
    @extend .tab-content;
}

.pro {
    position: relative;

    &:nth-of-type(1) {margin-left:0;}

    h4.title {
        @include text-overflow;
        white-space:normal;
        max-height: 30px;

        font-size: em(13px);
        color:$gray-dark;

        position: absolute;
        left:0; top:230px;

        margin:0;
        padding:0 30px;
    }

    a {
        display: block;
        height:274px;
        border:1px solid #e6e6e6;
        border-radius:5px;
        position: relative;
        margin-bottom: 12px;
        padding: 10px;

        i {
            display: block;
            height:195px;
            line-height: 195px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            transition: opacity 0.3s;
        }

        &::after {
            @include make-content('\f00e', $width:null);
            @include circle(70px, $display:null);

            background: #EE7E00;
            font-family: 'fontAwesome';
            font-size: em(32px);
            color: #fff;

            left: 50%; top: 25%;
            transform: translateX(-50%) scale(0);
            transition: transform 0.3s;
        }

        &:hover {
            img {opacity: 0.7;}
            &::after {transform: translateX(-50%) scale(1);}
        }
    }

    
    strong {
        font-size: em(20px);
        font-weight: normal;
        color:$gray-dark;

        &.sale {color:$brand-primary;}
    }
    del {
        font-size: em(13px);
        color:#4d4d4d;

        margin: 0 10px;
    }
    em {
        display: inline-block;
        height:18px;
        background:#ee7e00;
        color:#fff;
        font-style: normal;
        font-size: em(12px);

        position: relative;
        margin-left:9px;
        padding:2px 10px 2px 4px;
        border-radius:0 2px 2px 0;

        &::before {
            content:" ";
            display: block;
            width:8px;
            height:18px;
            background:url(#{$img-path}/iconDiscount.gif) no-repeat;
            background-size:auto 100%;

            position: absolute;
            left:-8px; top:0;
        }
    }
    .label {
        @extend .list-unstyled;

        color:#fff;

        position: absolute;
        right:0; top:0;

        li {
            margin-top:5px;
            text-align: right;
        }

        span {
            display: inline-block;
            font-size: em(12px);

            position: relative;
            padding:1px 5px 2px 10px;

            &::before {
                @include caret(left,19px,7px,$brand-primary);

                content:" ";

                position: absolute;
                left:-7px; top:0;
            }

            &::after {
                @include circle(4px);

                display: block;
                content: " ";
                background:#fff;

                position: absolute;
                left:0; top:7px;
            }
        }

        .kv {background:$brand-primary;}
        .new {
            background:$success;
            font-size:em(9px);
            text-transform: uppercase;

            padding:3px 5px 4px 10px;

            &::before {border-right-color:$success;}
        }
        .cold {
            background:$info;
            &::before {border-right-color:$info;}
        }
    }
}