@charset "UTF-8";


//
// images
// --------------------------------------------------
.thumb {
    @extend .border;
    max-width: 100%;
    
    img {max-width: 100%;}
}


//
// icon
// --------------------------------------------------

// font-awesome
@import "component/fontAwesome/font-awesome";
[class*="fa-"] {@extend .fa;}

// icomoon (custmized icons)
@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon/icomoon.eot?19a7qc');
	src:url('../font/icomoon/icomoon.eot?19a7qc#iefix') format('embedded-opentype'),
		url('../font/icomoon/icomoon.ttf?19a7qc') format('truetype'),
		url('../font/icomoon/icomoon.woff?19a7qc') format('woff'),
		url('../font/icomoon/icomoon.svg?19a7qc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-angle-down:before  {content: "\e901";}
.icon-angle-left:before  {content: "\e902";}
.icon-angle-right:before {content: "\e903";}
.icon-angle-up:before    {content: "\e904";}
.icon-business:before    {content: "\e905";}
.icon-cart:before        {content: "\e906";}
.icon-login:before       {content: "\e907";}
.icon-pay:before         {content: "\e908";}
.icon-ship:before        {content: "\e909";}
.icon-exit:before        {content: "\e900";}