@charset "UTF-8";

// 讓目標元素垂直置中
@mixin middle($target) {
    @extend %middle;

    #{$target} {
        @if $target != img {
            vertical-align: middle;
        }
        display: inline-block;
        @content;
    }
}

// 單行文字垂直置中
@mixin text-middle($height) {
    line-height: $height;
    height: $height;
}