@charset "UTF-8";

$figure-bg:             #fff !default;
$figure-border-color:   #9CD217 !default;
$figure-text-align:     center !default;

$figure-min-width:      270px !default;
$figure-max-width:      295px !default;
$figure-width:          33% !default;
$figure-height:         220px !default;
$figure-margin:         0 7px 30px 7px!default;

// common style
figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;

    width: 31.5%;
    height: $figure-height;
    max-width: $figure-max-width;
    margin: $figure-margin;

    text-align: $figure-text-align;

    @include mq(break(tablet, +1), break(wide, -1)) {
        &:nth-of-type(3n) { margin-right: 0; }
        &:nth-of-type(3n+1) { margin-left: 0; }
    }
    @include mq(wide) { width: $figure-width; }
    @include mq(wider) { max-width: 335px; }
    @include mq-max(break(desktop, -1)) {
        float: none;
        display: inline-block;
    }
    @include mq-max(tablet) {
        width: 48%;
        max-width: none;
        margin: 3px; margin-bottom: 15px;
    }
    @include mq-max(phone) { width: 100%; }

    img { position: relative; }
}

figcaption {
    text-transform: uppercase;

    @include prefix(backface-visibility, hidden);

    &::before, &::after { pointer-events: none; }

    &, > a {
        @include size(100%);
        @include absolute(left 0 top 0);
    }

    > a {
        z-index: z(tooltip) - 1;
        white-space: nowrap;
        opacity: 0;

        line-height: $figure-height;
        height: $figure-height;
    }

    @extend %effect-all;
    background-position: center 150px;
}

// theme
figure {
    @extend %effect-all;

    @include middle(img) {
        max-width: 95%;

        @include prefix(transition, transform .7s);
        @include prefix(transform-origin, 50% 50%);

        @include mq(break(desktop,+1)) {
            max-height: $figure-height - 45px;
            margin-bottom: 35px;
        }
    }

    h4 {
        @extend %effect-all;
        @include absolute(bottom 10px left 0 right 0);
        color: $brand-primary;
        font-size: em(22px);
        margin: 0;
    }
    span {
        @extend %effect-all;
        @include prefix(transform, translateY(70px));
        opacity: 0;
        display: inline-block;

        font-size: em(15px);
        line-height: 1;
        margin: 7px;

        // &:nth-of-type(odd) {
        //     border-right: 1px solid #D8DF2B;
        //     @include mq-max(break(desktop, -1)) {
        //         border: none;
        //     }
        // }
        // &:last-of-type { border: none; }
    }

    &:hover, &:active {
        border-color: #D7DD19;

        img { @include prefix(transform, scale3d(1.2,1.2,1)); }
        h4 { color: #333; }
        span {
            @include prefix(transform, translateY(80px));
            opacity: 1;
        }
        figcaption { background: rgba(#fff,.8); }
    }
}

// 列表
.kind figure {
    border: 1px solid $figure-border-color;

    h3 {
        @extend %effect-all;
        font-size: em(13px);
        color: #ccc;
        margin-top: 5px;
    }
    span {
        color: #D8DF2B;
    }

    &:hover, &:active {
        border: 4px solid #D7DD19;

        h3 { opacity: 0; }
        h4 {
            color: #fff;
            font-size: em(34px);
            @include prefix(transform, translateY(-($figure-height - 85px)));
        }
        span {
            @include prefix(transform, translateY(80px));
        }
        figcaption {
            background: rgba(#053A04,.9) url(#{$img-path}/Products/icon-look.png) center 150px no-repeat;
        }
    }
}