@charset "UTF-8";

$figure-bg:             #fff !default;
$figure-text-align:     center !default;

$figure-min-width:      310px !default;
$figure-max-width:      480px !default;
$figure-width:          32% !default;
$figure-height:         220px !default;
$figure-margin:         0 0 85px 7px!default;

// common
figure {
    position: relative;
    // overflow: hidden;
    cursor: pointer;

    margin: $figure-margin;
    min-width: $figure-min-width;
    // max-width: $figure-max-width;
    // max-height: $figure-height;
    width: $figure-width;

    background: $figure-bg;
    text-align: $figure-text-align;

    img {
        position: relative;
        display: block;
        // min-height: 100%;
        max-width: 95%;
        // opacity: 0.8;
    }
}
figcaption {
    text-transform: uppercase;

    @include prefix(backface-visibility, hidden, webkit);

    &::before, &::after { pointer-events: none; }

    &, > a {
        @include absolute(top 0 left 0);
        width: 100%; height: 100%;
    }
    // 預設為覆蓋整個figure
    > a {
        z-index: 1000;
        // text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
}

// theme
figure {
    float: left;
    height: $figure-height;
    border: 1px solid #EBEBEB;

    @include middle(img) { max-height: $figure-height - 20px; }

    @include mq-max(tablet) {
        display: inline-block;
        float: none;
        margin-left: 0;
        width: 49.6%;
        min-width: auto;
    }
    @include mq-max(phone) {
        width: 100%;
    }

    figcaption {
        height: 0;
        &, h3 { transition: all .5s ease; }
        > a {
            line-height: $figure-height;
            height: $figure-height + 55px;
        }
    }

    h3 {
        color: #323232;
        font-size: em(18px);
        margin-top: 10px;
    }
    small {
        color: #656565;
        font-size: em(16px,18px);
        display: block;
        margin-top: 8px;
    }

    &:hover, &:active {
        h3 { color: $brand-primary; }
        small { color: $brand-secondary; }

        figcaption {
            background: rgba(#002A36,.7);
            height: 100%;

            > a {
                opacity: 1;
                color: #fff;
                font-size: em(22px);
            }
        }
    }
}
